 .contact-panel {
    -webkit-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);
    margin-top: -60px;
    margin-bottom: 30px;
    padding: 60px 70px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 5px 83px 0 rgb(9 29 62 / 15%);
    box-shadow: 0 5px 83px 0 rgb(9 29 62 / 15%);
    border-radius: 25px;
    z-index: 5;
}
.img-card-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.img-card {
    background-image: url(../../../assets/images/contactInfo2.png); 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-radius: 25px;
    background-position-x: 81%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: auto;
    padding: 33px 40px 50px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: center;
}
.bg-overlay:before {
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
/* .bg-overlay-theme:before {
   background-image: linear-gradient(180deg,#00308288 0%,#00308288 82%);
} */
.bg-section {
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}
.img-card .card-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.img-card .card-content {
    max-width: 100%;
}
.content-bottom .contact-infos .contact-info a, 
.content-bottom .contact-infos .contact-info p {
    line-height: 22px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    color: #f4f4f4;
    text-transform: capitalize;
    text-decoration: none;
}
.content-bottom .contact-info i {
    color: #fff;
    margin: 5px;
    align-self: start;
    margin-right: 10px;
}
.contact-card .contact-body .btn i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    color: #253745;
    font-size: 12px;
}
.img-card .card-content .content-top p {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 22px;
    font-weight: 300;
    color: #ffffff;
}
.contact-card .contact-body .card-heading {
    color: #222222;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.contact-card .contact-body .card-desc {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #9b9b9b;
    margin-bottom: 28px;
}
.contact-card .contact-body .form-control {
    margin-bottom: 30px;
}
.form-control {
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    line-height: 1px;
    border-radius: 25px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    padding-left: 20px;
    margin-bottom: 25px;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.form-control.nice-select {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.form-control.nice-select .current {
    text-transform: capitalize;
}
.nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68,68,68,.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(.75) translateY(-21px);
    transition: all .2s cubic-bezier(.5,0,0,1.25),opacity .15s ease-out;
    z-index: 9;
}
.form-control.nice-select::after {
    width: 6px;
    height: 6px;
   
    right: 20px;
}
.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: "";
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all .15s ease-in-out;
    width: 5px;
}
.nice-select .option.focus, .nice-select .option.selected.focus, .nice-select .option:hover {
    background-color: #f6f6f6;
}
.form-control.nice-select .list li {
    text-transform: capitalize;
}
.nice-select .option.selected {
    font-weight: 700;
}
.contact-card .contact-body textarea {
    height: 100px;
    padding-top: 20px;
}
textarea.form-control {
    min-height: calc(1.5em + .75rem + 2px);
}
textarea {
    resize: none;
}
.contact-card .contact-body .btn {
    width: 140px;
    text-transform: uppercase;
}
.contact-card .contact-body .btn {
    padding-left: 30px;
    padding-right: 20px;
}
.btn--secondary {
    background-color: #253745;
    color: #ffffff;
}
.btn--secondary::before {
    background-color: #007BFF;
}
.btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 2;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0 20px;
    border: 0;
    width: 170px;
    height: 50px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transition-property: background,color;
    -o-transition-property: background,color;
    transition-property: background,color;
    border-radius: 50px;
    overflow: hidden;
}
.btn::before {
    content: '';
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transition: -webkit-transform .24s ease-in-out;
    transition: -webkit-transform .24s ease-in-out;
    -o-transition: transform .24s ease-in-out;
    transition: transform .24s ease-in-out;
    transition: transform .24s ease-in-out,-webkit-transform .24s ease-in-out;
}
.btn--secondary:active, .btn--secondary:focus, .btn--secondary:hover {
    color: #ffffff;
}
.btn:hover::before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}
.img-card .card-content .content-bottom .contact-infos .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 14px;
}
@media screen and (min-width: 992px){
    .img-card {
        text-align: left;
        -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
    }
}
