<section class="contactMap">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d663723.7614998776!2d73.70180461314517!3d18.93008016012845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1650016573176!5m2!1sen!2sin"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<section class="contactMain">
    <div class="container">
        <div class="contact-panel">
            <div class="row">
                <div class="col-12 col-lg-5 img-card-holder">
                    <div class="img-card bg-overlay bg-overlay-theme bg-section">
                        <div class="card-content">
                            <div class="content-top">
                                
                            </div>
                            <div class="content-bottom">
                                <h1 class="text-white mb-5">Contact</h1>
                                <ul class="list-unstyled contact-infos">
                                    <li class="contact-info">
                                        <p><i class="fa-solid fa-phone me-2"></i> <a href="tel:+91 20 6780 0800">(+91) 20 6780 0800</a></p>
                                    </li>
                                    <li class="contact-info">
                                        <p><i class="fa-solid fa-envelope me-2"></i><a href="mailto:info@shauryatechnosoft.com">info@shauryatechnosoft.com </a></p>
                                    </li>
                                    <li class="contact-info "><i class="fa-solid fa-location-dot me-2 text-white align-self-start"></i> 
                                        <p><a href="#">7th Floor, Cybernex, 399, Shankar Sheth Road, Pune,  Maharashtra 411037. </a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-7">
                    <div class="contact-card">
                        <div class="contact-body">
                            <h5 class="card-heading">get in touch</h5>
                            <p class="card-desc">We take great pride in everything that we do, control over products
                                allows us to ensure our customers receive the best quality service.</p>
                            <form class="contactForm">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <input class="form-control" type="text" id="contact-name" name="contact-name"
                                            placeholder="Name" required="">
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <input class="form-control" type="text" id="contact-email" name="contact-email"
                                            placeholder="Email" required="">
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <input class="form-control" type="text" id="contact-phone" name="contact-phone"
                                            placeholder="Phone" required="">
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <select class="form-control" id="select-1" style="display: none;">
                                        <option value="default">select your services</option>
                                        <option value="s1">service 1 </option>
                                        <option value="s2">service 2 </option>
                                        </select><div class="nice-select form-control" tabindex="0"><span class="current">service 1 </span><ul class="list"><li data-value="default" class="option">select your services</li><li data-value="s1" class="option selected focus">service 1 </li><li data-value="s2" class="option">service 2 </li></ul></div>
                                        </div>
                                    <div class="col-12">
                                        <textarea class="form-control" id="contact-infos"
                                            placeholder="additional information" name="contact-infos" cols="30"
                                            rows="10"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn--secondary text-uppercase">Send <i class="fa-solid fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>