<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="../../../assets/images/page-banners/contact_us.jpg"
            class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <h3>Contact Us</h3>
                    </div>
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row" id="contactus">
        <div class="col-sm-6">
            <h3>Shaurya Technosoft Pvt. Ltd.</h3>
            <div class="d-flex align-items-center contact">
                <div class="flex-shrink-0">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                    7th Floor, Cybernex, 399, Shankar Sheth Road, Pune, Maharashtra 411037, Maharashtra.
                </div>
            </div>
            <div class="d-flex align-items-center contact">
                <div class="flex-shrink-0">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                    <a href="tel:02067800800">+91 20 6780 0800</a>
                </div>
            </div>
            <div class="d-flex align-items-center contact">
                <div class="flex-shrink-0">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                    <a href="tel:02024261344">+91 20 2426 1344</a>
                </div>
            </div>
            <div class="d-flex align-items-center contact">
                <div class="flex-shrink-0">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                    <a href="mailto:info@shauryatechnosoft.com">info@shauryatechnosoft.com</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <form [formGroup]="contactUsForm">
                <div class="card card-body rounded-0 p-4">
                    <div class="mb-3">
                        <input type="text" class="form-control" formControlName="fullName" placeholder="Full Name"
                            [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
                        <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                            <div class="text-danger" *ngIf="f.fullName.errors?.required">Full Name is
                                required.</div>
                            <div class="text-danger" *ngIf="f.fullName.errors?.pattern">Please enter
                                Valid Full Name.</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <input type="email" class="form-control" formControlName="emailId" placeholder="Email ID"
                                [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }">
                            <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                                <div class="text-danger" *ngIf="f.emailId.errors?.required">Email ID is
                                    required.</div>
                                <div class="text-danger" *ngIf="f.emailId.errors?.pattern">Please enter
                                    Valid Email ID.</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <input type="tel" class="form-control" formControlName="contactNo" 
                            (keypress)="commonService.onlyDigitsExcludeZeroAtStart($event)"
                                maxlength="11" minlength="10"
                                placeholder="Contact No" [ngClass]="{ 'is-invalid': submitted && f.contactNo.errors }">
                            <div *ngIf="submitted && f.contactNo.errors" class="invalid-feedback">
                                <div class="text-danger" *ngIf="f.contactNo.errors?.required">Contact No. is
                                    required.</div>
                                <div class="text-danger" *ngIf="f.contactNo.errors?.pattern">Please enter
                                    Valid Contact No..</div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" formControlName="subject" placeholder="Subject"
                            [ngClass]="{ 'is-invalid': submitted && f.subject.errors }">
                        <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                            <div class="text-danger" *ngIf="f.subject.errors?.required">Subject is
                                required.</div>
                            <div class="text-danger" *ngIf="f.subject.errors?.pattern">Please enter
                                Valid Subject.</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" rows="4" formControlName="message"
                            placeholder="Message"></textarea>
                    </div>
                    <button class="btn btn-main py-3 rounded-0" type="button"
                        (click)="submitContactUsForm()">SEND</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="mapouter">
    <div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas"
            src="https://maps.google.com/maps?q=Shaurya%20Technosoft%20Pvt.%20Ltd.&t=k&z=17&ie=UTF8&iwloc=&output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
</div>