#ProductsImagescarousel .carousel-indicators .active{
    background-color:var(--blue-color);
}
#ProductsImagescarousel .carousel-item,
#ProductsImagescarousel .carousel-item img{
    height: 150px;
    object-fit: cover;
}
.clip-text{
    word-break: break-word;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px; 
   max-height: 64px;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}
.card{
    transition: all 0.6 ease-in-out;
}
a.solution-list{
    text-decoration: none;
}
.card:hover{
    background-color: #eee;
    transition: all 0.6 ease-in-out;
}
h5.card-title{
    color: var(--main-color) !important;
}