<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="../../../assets/images/page-banners/solutions.jpg"
            class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <h3>Solutions</h3>
                    </div>
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                                <li class="breadcrumb-item">Solutions</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-2">
    <div class="row" id="main-content">
        <div class="card mb-3 p-3" *ngFor="let pageCategory of pageCategoryArray">
            <a (click)="navigatePage(pageCategory?.id)" routerLink="#" class="solution-list">
                <div class="row g-0">
                    <div class="col-md-2">
                        <div id="ProductsImagescarousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img [src]="pageCategory?.homeImagePath" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body pb-0">
                            <h5 class="card-title">{{pageCategory?.pageName}}</h5>
                            <p [innerHtml]="pageCategory?.about" class="clip-text"> </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>