<nav id="sidebar">
    <div class="sidebar-header">
        <h5 class="mb-0">Shaurya Admin</h5>
    </div>

    <ul class="list-unstyled components">
        <p>Navigation</p>
        <li routerLinkActive="active">
            <a routerLink="dashboard"><i class="fa-solid fa-house"></i>Dashboard</a>
        </li>
        <!-- <li routerLinkActive="active">
            <a href="#masterSubmenu" routerLinkActive="active" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa-solid fa-anchor"></i>Master
            </a>
            <ul class="collapse list-unstyled" id="masterSubmenu">
                <li>
                    <a routerLink="#">Industries</a>
                </li>
                <li>
                    <a routerLink="#">Services</a>
                </li>
                <li>
                    <a routerLink="#">Projects</a>
                </li>
                <li>
                    <a routerLink="#">Solutions</a>
                </li>
            </ul>
        </li> -->
        <li routerLinkActive="active">
            <a routerLink="../page-masters">
                <i class="fa-solid fa-anchor"></i>Page Masters
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="../post-job">
                <i class="fa-solid fa-briefcase"></i>Post Job
            </a>
        </li>
        <li>
            <a href="#applcationsSubmenu" routerLinkActive="active" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa-solid fa-user-tie"></i>Job Applications
            </a>
            <ul class="collapse list-unstyled" id="applcationsSubmenu">
                <li routerLinkActive="active">
                    <a routerLink="view-applications">View Applications</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="approved-rejected-applications">Accpeted/Rejected</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#leadgenerationSubmenu" routerLinkActive="active" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa-solid fa-headset"></i>Lead Generation
            </a>
            <ul class="collapse list-unstyled" id="leadgenerationSubmenu">
                <li routerLinkActive="active">
                    <a routerLink="contact-us-leads">Contact Us</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="request-demo-leads">Request a Demo</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="subscribe-us-leads">Subscribe Us</a>
                </li>
            </ul>
        </li>
        <li routerLinkActive="active">
            <a routerLink="../gallery-master">
                <i class="fa-solid fa-images"></i>Gallery Master
            </a>
        </li>
    </ul>
</nav>