<div class="container-fluid" id="login">
    <div class="container">
        <div class="row pt-4 align-items-center">
            <div class="col-sm-6 col-6">
                <img src="assets/images/STPL_Logo.svg" class="shaurya-logo">
            </div>
            <div class="col-sm-6 col-6 text-end">
                <a routerLink="../home" class="home-link"><i class="fa-solid fa-house-user me-2"></i> Home</a>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-sm-4" id="login-box">
                <form [formGroup]="loginForm">
                    <i class="fa-regular fa-circle-user fa-3x mb-4"></i>

                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                            <input type="text" class="form-control" formControlName="UserName" placeholder="UserName"
                                autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }">                            
                        </div>
                        <div *ngIf="submitted && f.UserName.errors" class="invalid-feedback">
                            <div class="text-danger" *ngIf="f.UserName.errors?.required">User Name is required.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                            <input autocomplete="off" [type]="show_button ? 'text' : 'password'" class="form-control"
                                placeholder="Password" formControlName="Password"
                                [ngClass]="{ 'is-invalid': submitted && f.Password.errors }">
                            <button type="button" class="btn btn-light bg-transparent border-0 btn-sm"
                                (click)="showPassword()">
                                <i class="eye-icon-pos" [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'"> </i>
                            </button>
                        </div>
                        <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                            <div class="text-danger" *ngIf="f.Password.errors.required">Password is required.</div>
                        </div>
                    </div>

                    <button class="btn btn-main rounded rounded-pill w-100" (click)="loginFormSubmit()"
                        type="submit">LOGIN</button>
                </form>
            </div>
        </div>
    </div>
</div>