<div class="container-fluid" id="login">
    <div class="container">
        <div class="row pt-4 align-items-center">
            <div class="col-sm-6 col-6">
                <img src="assets/images/STPL_Logo.svg" class="shaurya-logo">
            </div>
            <div class="col-sm-6 col-6 text-end">
                <a routerLink="home" class="home-link"><i class="fa-solid fa-house-user me-2"></i> Home</a>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-sm-4" id="login-box">
                <i class="fa-regular fa-circle-user fa-3x mb-4"></i>

                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="Username" />
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                        <input type="password" class="form-control" placeholder="Password" />
                    </div>
                </div>
                <div class="mb-3 text-start">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Remeber Me
                        </label>
                      </div>
                </div>
                <button class="btn btn-main rounded rounded-pill w-100" type="button">LOGIN</button>
            </div>
        </div>
    </div>
</div>