<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="../../../../assets/images/products/Livestock Industries.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <h3 class="mb-4" data-aos="fade-right"  data-aos-delay="350">Dairy Vet Software</h3>
                    </div>
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb" data-aos="fade-right"  data-aos-delay="500">
                                <li class="breadcrumb-item"><a routerLink="../../home">Home</a></li>
                                <li class="breadcrumb-item"><a routerLink="../../solutions">Solutions</a></li>
                                <li class="breadcrumb-item">Dairy Vet Software</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container px-5 py-2 overflow-hidden">
    <div class="row" id="main-content">
        <div class="row">
            <h3 class="text-main">Introduction</h3>
        </div>
        <p>
            Shaurya Technosoft Pvt. Ltd. is a Pune (India) based company. It is one of the fastest growing software
            companies. We build software that adds value to customer business.
        </p>
        <ul class="mx-2">
            <li> Dairy supervisor, Route Manager, AMCU, e-Vet, and e-Anifarm mobile
                applications & Desktop application are seamlessly integrated.</li>
            <li>
                On confirmation of Milk quantity and quality parameters, seamless
                integration will be implemented with the central SAP system.
            </li>
            <li>
                This will ensure 100% milk collection and milk distribution for further
                dairy product usage without manual intervention
            </li>
        </ul>

        <div class="row mb-4 align-items-center">
            <div class="col-sm-6" data-aos="fade-right" data-aos-delay="50">
            <strong class="text-main">Supply Chain Management</strong>
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <ul class="px-2">
                            <li>User Management</li>
                            <li>Store Management</li>
                            <li>Inventory Management</li>
                            <li> Payments Management</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li> Sales CRM</li>
                            <li>Rate Charts </li>
                            <li> Order Management</li>
                            <li>Delivery Management </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <img src="../../../../assets/images/products/Dairy Vet Software_Supply Chain Management.jpg" alt=""
                    data-aos="fade-left" data-aos-delay="50" class="img-fluid">
            </div>

        </div>
        <div class="row mt-5 align-items-center">
            <div class="col-sm-6">
                <img src="../../../../assets/images/products/Dairy Vet Software_Veterinary Services.jpg" alt="" data-aos="fade-right"
                    data-aos-delay="50" class="img-fluid">
            </div>

            <div class="col-sm-6" data-aos="fade-left" data-aos-delay="50">
                <strong class="text-main">Veterinary Services</strong>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="px-3">
                            <li>Farmer Registration </li>
                            <li> Animal Registration</li>
                            <li> Breeding Info (AI/PD/
                                CALVING)</li>
                        <li> Report</li>

                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                        <li> Medication/Vaccination </li>
                        <li> Drug Registration</li>
                        <li>System Notifications </li>
                    </ul>
                    </div>
                </div>
               
                  
            </div>

        </div>
        <div class="row mt-5">


            <div class="col-sm-7" data-aos="fade-right" data-aos-delay="50">
                <strong class="text-main">Farmer Services</strong>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="px-3">
                            <li>Animal Registration</li>
                            <li> Milk Sales Reports</li>
                            <li> Expense Management </li>
                            <li>Breeding Info (AI/PD/
                                CALVING) </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                       
                        <li>Medication/Vaccination </li>
                        <li> Veterinary Services</li>
                        <li>System/ SMS Notifications </li>
                        <li>Task Manage </li>
                    </ul>
                    </div>
                </div>
                
                    
            </div>
            <div class="col-sm-5">
                <img src="../../../../assets/images/products/Farmer Services_Farmer Services.jpg" alt="" data-aos="fade-left"
                    data-aos-delay="50" class="img-fluid">
            </div>

        </div>

    </div>
</div>