<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="../../../assets/images/page-banners/Services.jpg"
            class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- <h3>Services</h3> -->
                        <h3>{{PageName}}</h3>
                    </div>
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="../../home">Home</a></li>
                                <li class="breadcrumb-item"><a routerLink="../../services">Services</a></li>
                                <li class="breadcrumb-item active">{{PageName}}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-2">
    <div class="row" id="main-content">
        <div class="col-sm-4">
            <div class="list-group" *ngFor="let pageCategory of pageCategoryArray">
                <button type="button" class="list-group-item list-group-item-action"
                    [class.active]="pageCategory.id == activeClassHighLight" aria-current="true"
                    (click)="redirToProj(pageCategory.pageName,pageCategory.id)">
                    {{pageCategory.pageName}}
                </button>
            </div>
        </div>

        <div class="col-sm-8" *ngIf="hideDiv">
            <h4 class="fw-bold mb-3">{{PageName}}</h4>
            <div class="location">
                <div id="ProductsImagescarousel" class="carousel slide mb-4" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <ng-container *ngFor="let pagemaster of pageMasterArray?.pageMasters; let i = index">
                            <div class="carousel-item" [class.active]="i == 0">
                                <img [src]="pagemaster?.imagePath" class="d-block w-100" alt="...">
                            </div>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="pageMasterArray?.pageMasters.length > 1">
                    <button class="carousel-control-prev" type="button" data-bs-target="#ProductsImagescarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#ProductsImagescarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </ng-container>
                </div>
            </div>

            <h6 class="fw-bold mb-3">About</h6>
            <p [innerHtml]="pageMasterArray?.about"></p>
            <div class="card card-body border-0 rounded-0 p-4 mb-4">
                <h6 class="fw-bold mb-3">What We Offer!</h6>
                <ul class="list mb-0">
                    <li [innerHtml]="pageMasterArray?.features"></li>
                </ul>
            </div>
            <a class="btn btn-main rounded-0 py-3 px-5" routerLink="../../home">
                Reach Us
            </a>
        </div>
    </div>
</div>