<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="https://img.freepik.com/free-photo/business-teamwork-success-concept_1421-16.jpg?w=996&t=st=1652156925~exp=1652157525~hmac=d1ea544bcfa7bd197cf1cb1e32bc3846a0c6053da268c3a7bb8a291411c59e43"
            class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Services</h3>
                    </div>
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="../../home">Home</a></li>
                                <li class="breadcrumb-item active">Services</li>
                                <!-- <li class="breadcrumb-item active" aria-current="page">Software Development</li> -->
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-2">
    <div class="row" id="main-content">
        <div class="col-sm-4">
            <div class="list-group" *ngFor="let pageCategory of pageCategoryArray">
                <button type="button" class="list-group-item list-group-item-action active" aria-current="true"
                (click)="redirToProj(pageCategory.pageName,pageCategory.id)">
                {{pageCategory.pageName}}
                </button>
                <!-- <button type="button" class="list-group-item list-group-item-action">A second item</button>
                <button type="button" class="list-group-item list-group-item-action">A third button item</button>
                <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
                <button type="button" class="list-group-item list-group-item-action">A disabled button item</button> -->
            </div>
        </div>

        <!-- <div class="col-sm-8" *ngIf="hideDiv">
            <div id="ProductsImagescarousel" class="carousel slide mb-4" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#ProductsImagescarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#ProductsImagescarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#ProductsImagescarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <ng-container *ngFor="let pagemaster of pageMasterArray?.pageMasters; let i = index">
                    <div class="carousel-item" [class.active]="i == 0">
                        <img [src]="pagemaster['imagePath']" class="d-block w-100" alt="...">
                    </div>
                </ng-container>
                </div>
            </div> -->

            <div class="col-sm-8" *ngIf="hideDiv">
                <div class="location">
                <div id="carouselExampleControls" class="carousel slide mb-4" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <ng-container *ngFor="let pagemaster of pageMasterArray?.pageMasters; let i = index">
                        <div class="carousel-item" [class.active]="i == 0">
                            <img [src]="pagemaster?.imagePath" class="d-block w-100" alt="...">
                        </div>
                    </ng-container>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>


            <h6 class="fw-bold mb-3">About</h6>
            <p [innerHtml]="pageMasterArray?.about"></p>
            <div class="card card-body border-0 rounded-0 p-4 mb-4">
                <h6 class="fw-bold mb-3">What We Offer!</h6>
                <ul class="list mb-0">
                    <li [innerHtml]="pageMasterArray?.features"></li>
                    <!-- <li>Aliquam hendrerit enim in suscipit sodales. Maecenas tristique ex vitae nisl faucibus, ac
                        hendrerit dui molestie.</li>
                    <li>Nulla a tempus dui. Sed commodo, augue vel dignissim dictum, odio est convallis nisi, sed
                        facilisis nunc est eu neque. </li>
                    <li>Pellentesque posuere nulla eget nibh dapibus viverra. Cras maximus vehicula pulvinar. Praesent
                        pretium malesuada ante, quis commodo dolor scelerisque at. </li>
                    <li>Sed ut nulla et justo volutpat tincidunt. Phasellus nec eros eget mauris tincidunt tempor eu
                        mattis turpis. Proin ac mauris diam.</li>
                    <li>Cras ac turpis ac nunc molestie facilisis. Ut ac leo nunc. Curabitur at dui mollis, pellentesque
                        nibh ac, malesuada ante. Etiam non odio in nibh imperdiet convallis.</li>
                    <li>Nullam risus mi, sodales nec elit non, aliquet vulputate massa. Pellentesque orci libero, auctor
                        eu vestibulum vitae, bibendum in nisl. Integer euismod tellus eu tincidunt lacinia. Fusce id
                        ipsum ut erat rhoncus dapibus.</li> -->
                </ul>
            </div>
            <a class="btn btn-main rounded-0 py-3 px-5" routerLink="#l">
                Reach Us
            </a>
        </div>
    </div>
</div>