<div class="row g-2">
    <div class="col-sm-6">
        <div class="card plain-card">
            <div class="card-header">
                Add Gallery Image
            </div>
            <div class="card-body">
                <div class="form-container">
                    <form [formGroup]="galleryMasterForm">
                        <div class="row mb-3 gx-2">
                            <div class="col-sm-8">
                                <label class="form-label">Event Name</label>
                                <input type="text" class="form-control" placeholder="Event Name"
                                    formControlName="eventName"
                                    [ngClass]="{ 'is-invalid': submitted && f.eventName.errors }">
                                <div *ngIf="submitted && f.eventName.errors" class="invalid-feedback">
                                    <div class="text-danger" *ngIf="f.eventName.errors?.required">Event Name is
                                        required.</div>
                                    <div class="text-danger" *ngIf="f.eventName.errors?.pattern">Please enter
                                        Valid Event Name.</div>
                                    <div class="text-danger" *ngIf="f.eventName.errors?.maxlength">Please enter
                                            only 100 Characters.</div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label class="form-label">Event Date</label>
                                <div class="input-group">
                                    <input class="form-control form-control-sm" [owlDateTimeTrigger]="dt1"
                                     [readOnly]="true"   placeholder="Event Date" [owlDateTime]="dt1" formControlName="eventDate" 
                                        [max]="Min" [ngClass]="{ 'is-invalid': submitted && f.eventDate.errors }">
                                    <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                                    <span class="input-group-text" [owlDateTimeTrigger]="dt1"><i
                                            class="fas fa-calendar-alt"></i></span>

                                    <div *ngIf="submitted && f.eventDate.errors" class="invalid-feedback">
                                        <div class="text-danger" *ngIf="f.eventDate.errors?.required">Event Date is
                                            required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Event Description</label>
                            <textarea rows="4" class="form-control" placeholder="Event Name"
                                formControlName="eventDescription"
                                [ngClass]="{ 'is-invalid': submitted && f.eventDescription.errors }">
                    </textarea>
                            <div *ngIf="submitted && f.eventDescription.errors" class="invalid-feedback">
                                <div class="text-danger" *ngIf="f.eventDescription.errors?.required">Event Description
                                    is
                                    required.</div>
                                <div class="text-danger" *ngIf="f.eventDescription.errors?.pattern">Please enter
                                    Valid Event Description.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Upload Images</label>
                            <input type="file" multiple formControlName="imagePath"
                                (change)="imageUpload($event)" class="form-control" #fileInput>
                                <div *ngIf="gallerySubmitted && galleryImagArray?.length == 0">
                                    <span class="text-danger" style="font-size: 0.65rem;">Upload Images Field is required.</span>
                                </div>
                            <div class="d-flex flex-wrap">
                                <div class="uploaded-images" *ngFor="let galleryImag of galleryImagArray;let i=index">
                                    <img [src]="galleryImag?.imagePath">
                                    <button class="btn bg-danger bg-opacity-10 text-danger" (click)="deleteImage(i)">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-light text-main"
                                    (click)="clearForm()">Cancel</button>
                            </div>
                            <div class="col-sm-6 text-end">
                                <button type="submit" class="btn btn-main" (click)="onSubmit()">{{btnText}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card plain-card">
            <div class="card-header">
                View Gallery Images
            </div>
            <div class="card-body">
                <table class="table dashboard-table">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Event Name</th>
                            <th>Images</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let galleryMaster of galleryMasterGetArray | paginate: {itemsPerPage: pagesize, 
                            currentPage: pageNumber, totalItems:totalRows}; let i = index "
                            [class.active]="galleryMaster.id == HighlightRow">
                            <td>{{((pageNumber + 1) * 10 + i + 1)-20}}</td>
                            <td>
                                <p class="mb-0 fw-bold">{{galleryMaster?.eventName}}</p>
                                <small class="text-muted">{{galleryMaster?.eventDate | date: 'dd/MM/yyyy'}}</small>
                            </td>
                            <td>
                                <div id="galleryImagescarousel{{i}}" class="carousel slide galleryImagescarousel"
                                    data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <ng-container
                                            *ngFor="let galleryMas of galleryMaster?.gallaryMasters; let j = index">
                                            <div class="carousel-item" [class.active]="j == 0">
                                                <img src="{{galleryMas?.imagePath}}" class="d-block" alt="...">
                                            </div>
                                            <ng-container *ngIf="galleryMaster?.gallaryMasters.length > 1">
                                                <button class="carousel-control-prev" type="button"
                                                    [attr.data-bs-target]="'#galleryImagescarousel'+i"
                                                    data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button"
                                                    [attr.data-bs-target]="'#galleryImagescarousel'+i"
                                                    data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn bg-primary bg-opacity-10 text-primary me-2"
                                    title="Edit Page" (click)="updateGalleryMaster(galleryMaster)">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </button>
                                <button type="button" class="btn bg-danger bg-opacity-10 text-danger"
                                    title="Delete Page" data-bs-toggle="modal"
                                    (click)="deleteConformation(galleryMaster.id)" data-bs-target="#deleteModel">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-2 text-end" *ngIf="galleryMasterGetArray?.length == 0">
                    <div class="alert alert-danger text-center py-2">No Data Found..!
                    </div>
                </div>
                <pagination-controls *ngIf="galleryMasterGetArray?.length != 0" previousLabel="" nextLabel=""
                    (pageChange)="onClickPagintion($event)">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>

<!-- Delete modal pop up -->
<div class="modal fade" id="deleteModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="ProgramStatusModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-transparent border-bottom-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <h3 class="my-3">Are You Sure?</h3>
                <p class="mb-4">Do you really want to This process can not be undone.</p>
                <button class="btn btn-secondary me-2" data-bs-dismiss="modal" type="button" data-bs-dismiss="modal"
                    aria-label="Close">Cancel</button>
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal" aria-label="Close" type="button"
                    data-bs-dismiss="modal" aria-label="Close" (click)="deleteGalleryMaster()">I'm
                    Sure</button>
            </div>
        </div>
    </div>
</div>