<nav class="navbar navbar-expand-lg navbar-light sticky-top" (scroll)="onWindowScroll();">
    <div class="container">
      <a class="navbar-brand" routerLink="home">
          <img src="assets/images/STPL_Logo.svg" alt="STPL Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="IndustriesnavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Industries
            </a>
            <ul class="dropdown-menu animate__animated animate__pulse" aria-labelledby="IndustriesnavbarDropdown">
              <li><a class="dropdown-item" href="industries/defence.html">Defence</a></li>
              <li><a class="dropdown-item" href="industries/minig.html">Mining</a></li>
              <li><a class="dropdown-item" href="industries/farm&dairy.html">Farm & Dairy</a></li>
              <li><a class="dropdown-item" href="industries/agriculture.html">Agriculture</a></li>
              <li><a class="dropdown-item" href="industries/healthcare.html">Healthcare</a></li>
              <li><a class="dropdown-item" href="industries/education.html">Education</a></li>
              <li><a class="dropdown-item" href="industries/election&voting.html">Election & Voting</a></li>
              <li><a class="dropdown-item" href="industries/logistics&transport.html">Logistics & Transport</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="ServicesnavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu animate__animated animate__pulse" aria-labelledby="ServicesnavbarDropdown">
              <li><a class="dropdown-item" href="services/IOT.html">IOT</a></li>
              <li><a class="dropdown-item" href="services/Automation&AI.html">Automation & AI</a></li>
              <li><a class="dropdown-item" href="services/IT_Consulting.html">IT Consulting</a></li>
              <li><a class="dropdown-item" href="services/Product_Testing.html">Product Testing</a></li>
              <li><a class="dropdown-item" href="services/Software_Development.html">Software Development</a></li>
              <li><a class="dropdown-item" href="services/Mobile_App_Development.html">Mobile App Development</a></li>
              <li><a class="dropdown-item" href="services/Cloud_Infrastructure.html">Cloud Infrastructure</a></li>
              <li><a class="dropdown-item" href="services/Quality_Engineering.html">Quality Engineering</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="ProjectsnavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Projects
            </a>
            <ul class="dropdown-menu animate__animated animate__pulse" aria-labelledby="ProjectsnavbarDropdown">
              <li><a class="dropdown-item" href="projects/Project_1.html">Project 1</a></li>
              <li><a class="dropdown-item" href="projects/Project_2.html">Project 2</a></li>
              <li><a class="dropdown-item" href="projects/Project_3.html">Project 3</a></li>
              <li><a class="dropdown-item" href="projects/Project_4.html">Project 4</a></li>
              <li><a class="dropdown-item" href="projects/Project_5.html">Project 5</a></li>
              <li><a class="dropdown-item" href="projects/Project_6.html">Project 6</a></li>
              <li><a class="dropdown-item" href="projects/Project_7.html">Project 7</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="ProductsnavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Products
            </a>
            <ul class="dropdown-menu animate__animated animate__pulse" aria-labelledby="ProductsnavbarDropdown">
              <li><a class="dropdown-item" href="products/Mining_Monitoring_System.html">Mining Monitoring System</a></li>
              <li><a class="dropdown-item" href="products/KIMS.html">KIMS (Kote Inventory Management System)</a></li>
              <li><a class="dropdown-item" href="products/Dairy_Management_ERP_System.html">Dairy Management ERP System</a></li>
              <li><a class="dropdown-item" href="products/eVet_Veterinary_Services.html">eVet Veterinary Services</a></li>
              <li><a class="dropdown-item" href="products/Election_Management_System.html">Election Management System</a></li>
              <li><a class="dropdown-item" href="products/School_Management_System.html">School Management System</a></li>
              <li><a class="dropdown-item" href="products/Learning_Management_System.html">Learning Management System</a></li>
              <li><a class="dropdown-item" href="products/Video_Conference_Platform.html">Video Conference Platform</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="DiscovernavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Discover Shaurya
            </a>
            <ul class="dropdown-menu animate__animated animate__pulse" aria-labelledby="DiscovernavbarDropdown">
              <li><a class="dropdown-item" href="discover/about_us.html">About Us</a></li>
              <li><a class="dropdown-item" href="discover/blogs.html">Blogs</a></li>
              <li><a class="dropdown-item" href="discover/investor_relation.html">Investor Relation</a></li>
              <li><a class="dropdown-item" href="discover/research.html">Research</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="career/career.html">Career</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="contact/contact.html">Contact Us</a>
          </li>
        </ul>
        <!-- <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Discover Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" id="ProductsnavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="ProductsnavbarDropdown">
              <li><a class="dropdown-item" routerLink="#">Action</a></li>
              <li><a class="dropdown-item" routerLink="#">Another action</a></li>
              <li><a class="dropdown-item" routerLink="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" id="ServicesnavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="ServicesnavbarDropdown">
              <li><a class="dropdown-item" routerLink="#">Action</a></li>
              <li><a class="dropdown-item" routerLink="#">Another action</a></li>
              <li><a class="dropdown-item" routerLink="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Industries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Career</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Contact Us</a>
          </li>
        </ul> -->
      </div>
    </div>
  </nav>