<nav class="navbar navbar-light navbar-light fixed-top" (scroll)="onWindowScroll()">
  <div class="container">
    <a class="navbar-brand" href="home">
      <img src="assets/images/STPL_Logo_White.svg" alt="STPL Logo">
    </a>
    <div class="d-flex">
      <select class="form-select">
        <option value="en">English</option>
        <option value="mr">Marathi</option>
        <option value="hn">Hindi</option>
      </select>
      
      <button (click)="openNav()" class="btn btn-light">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </div>
</nav>
<div id="myNav" class="overlay" [ngStyle]="{'width': openoverlay}">
  <button class="closebtn" (click)="closeNav()">
    <i class="fa-solid fa-xmark"></i>
  </button>
  <div class="overlay-content">
    <a href="#">Home</a>
    <a data-bs-toggle="collapse" href="#Industries" role="button" aria-expanded="false" aria-controls="collapseExample">
      Industries
    </a>
    <div class="collapse" id="Industries">
      <div class="submenu">
        <div class="row">
          <div class="col-sm">
            <a href="#">Defence</a>
          </div>
          <div class="col-sm">
            <a href="#">Dairy</a>
          </div>
          <div class="col-sm">
            <a href="#">Election</a>
          </div>
          <div class="col-sm">
            <a href="#">Vehicle Tracking</a>
          </div>
          <div class="col-sm">
            <a href="#">Livestock</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#">Projects</a>
    <a data-bs-toggle="collapse" href="#solutions" role="button" aria-expanded="false" aria-controls="collapseExample">
      Solutions
    </a>
    <div class="collapse" id="solutions">
      <div class="submenu">
        <div class="row">
          <div class="col-sm">
            <a href="solutions/mahamining-system">Mahamining System</a>
          </div>
          <div class="col-sm">
            <a href="solutions/election-management-system">Election Management System</a>
          </div>
          <div class="col-sm">
            <a href="solutions/election-management-system">Kote Inventory System</a>
          </div>
          <div class="col-sm">
            <a href="solutions/automatic-milk-collection-unit">Automatic Milk Collection Unit</a>
          </div>
          <div class="col-sm">
            <a href="solutions/dairy-vet-software">Dairy Vet System</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#">Discover Us</a>
    <a href="#">Gallery</a>
    <a href="#">Career</a>
    <a href="#">Contact Us</a>
  </div>
</div>
<button data-bs-toggle="modal" class="requestdemo" (click)="clearForm()" data-bs-target="#RequestDemoModal">Request a
  Demo</button>

<!-- Modal for request a demo -->
<div class="modal fade" id="RequestDemoModal" tabindex="-1" aria-labelledby="RequestDemoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0">
      <form [formGroup]="requestDemoForm" (submit)="requestSubmitForm(1)">
        <div class="modal-header bg-main">
          <p class="modal-title mb-0" id="RequestDemoModalLabel">Request a Demo</p>
          <button type="button" class="btn-close" (click)="clearForm()" #requestDemoModel data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Full Name *" formControlName="fullName"
              [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
            <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
              <div class="text-danger" *ngIf="f.fullName.errors?.required">Full Name is
                required.</div>
              <div class="text-danger" *ngIf="f.fullName.errors?.pattern">Please enter
                Valid Full Name.</div>
            </div>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Email ID *" formControlName="emailId"
              [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }">
            <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
              <div class="text-danger" *ngIf="f.emailId.errors?.required">Email ID is
                required.</div>
              <div class="text-danger" *ngIf="f.emailId.errors?.pattern">Please enter
                Valid Email ID.</div>
            </div>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Company Name *" formControlName="companyName"
              [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }">
            <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
              <div class="text-danger" *ngIf="f.companyName.errors?.required">Company Name is
                required.</div>
              <div class="text-danger" *ngIf="f.companyName.errors?.pattern">Please enter
                Valid Company Name.</div>
            </div>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Phone Number *" maxlength="10"
              (keypress)="this.commonService.onlyDigitsExcludeZeroAtStart($event)" formControlName="phoneNo"
              [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }">
            <div *ngIf="submitted && f.phoneNo.errors" class="invalid-feedback">
              <div class="text-danger" *ngIf="f.phoneNo.errors?.required">Phone Number is
                required.</div>
              <div class="text-danger" *ngIf="f.phoneNo.errors?.pattern">Please enter
                Valid Phone Number.</div>
            </div>
          </div>
          <div class="mb-0">
            <textarea class="form-control" rows="7" placeholder="Send your request here *"
              formControlName="requestDetails" [ngClass]="{ 'is-invalid': submitted && f.requestDetails.errors }">
        </textarea>
            <div *ngIf="submitted && f.requestDetails.errors" class="invalid-feedback">
              <div class="text-danger" *ngIf="f.requestDetails.errors?.required">Request Field is
                required.</div>
              <div class="text-danger" *ngIf="f.requestDetails.errors?.pattern">Please enter
                Valid Request Field.</div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn bg-secondary bg-opacity-25 btn-sm rounded-0 px-3 py-2"
            (click)="clearForm()">Clear</button>
          <button type="submit" class="btn btn-main btn-sm rounded-0 px-3 py-2">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Auto Modal pop-up for lead generation-->
<button data-bs-toggle="modal" class="requestdemo" #AutoPopupModal (click)="clearForm()"
  data-bs-target="#AutoPopModal"></button>
<div class="modal fade" id="AutoPopModal" tabindex="-1" aria-labelledby="AutoPopModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0">
      <form [formGroup]="requestDemoForm" (submit)="requestSubmitForm(2)">
        <div class="modal-header bg-main">
          <p class="modal-title mb-0" id="AutoPopModalLabel">Connect With Us</p>
          <button type="button" class="btn-close" (click)="clearForm()" #AutoPopupModal data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Full Name *" formControlName="fullName"
              [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
            <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
              <div class="text-danger" *ngIf="f.fullName.errors?.required">Full Name is
                required.</div>
              <div class="text-danger" *ngIf="f.fullName.errors?.pattern">Please enter
                Valid Full Name.</div>
            </div>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Email ID *" formControlName="emailId"
              [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }">
            <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
              <div class="text-danger" *ngIf="f.emailId.errors?.required">Email ID is
                required.</div>
              <div class="text-danger" *ngIf="f.emailId.errors?.pattern">Please enter
                Valid Email ID.</div>
            </div>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Company Name" formControlName="companyName">
            <!-- <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
              <div class="text-danger" *ngIf="f.companyName.errors?.required">Company Name is
                required.</div>
              <div class="text-danger" *ngIf="f.companyName.errors?.pattern">Please enter
                Valid Company Name.</div>
            </div> -->
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Phone Number *" maxlength="10"
              (keypress)="this.commonService.onlyDigitsExcludeZeroAtStart($event)" formControlName="phoneNo"
              [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }">
            <div *ngIf="submitted && f.phoneNo.errors" class="invalid-feedback">
              <div class="text-danger" *ngIf="f.phoneNo.errors?.required">Phone Number is
                required.</div>
              <div class="text-danger" *ngIf="f.phoneNo.errors?.pattern">Please enter
                Valid Phone Number.</div>
            </div>
          </div>
          <div class="mb-0">
            <textarea class="form-control" rows="7" placeholder="What do you want to see?"
              formControlName="requestDetails" [ngClass]="{ 'is-invalid': submitted && f.requestDetails.errors }">
        </textarea>
            <div *ngIf="submitted && f.requestDetails.errors" class="invalid-feedback">
              <div class="text-danger" *ngIf="f.requestDetails.errors?.required">Field is
                required.</div>
              <div class="text-danger" *ngIf="f.requestDetails.errors?.pattern">Please enter
                Valid Field.</div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn bg-secondary bg-opacity-25 btn-sm rounded-0 px-3 py-2"
            (click)="clearForm()">Clear</button>
          <button type="submit" class="btn btn-main btn-sm rounded-0 px-3 py-2">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>