.navbar .navbar-brand img{
    width: 150px;
}
.navbar{
    font-size: 0.85rem;
    padding-block: 10px;
    background-color: #f3f4f6;
    transition-duration: 0.6s;
}
.navbar .nav-link{
    padding:10px 20px;
    font-weight: 500;
}
.navbar .nav-link:hover,
.navbar .nav-link.active{
    color: #000;
}
.navbar .dropdown-menu{
    font-size: 0.85rem;
    border: none;
    padding: 10px;
}
.navbar .dropdown-menu .dropdown-item{
    padding: 10px 20px;
    border-radius: 4px;
}
.navbar-scroll {
	background: #ffffff;
	padding-block: 5px;
	// box-shadow: 1px 1px 9px 0px #cfc8c8;
	transition-duration: 0.6s;
}
.nav-dropdown-scroll {
	background: #e7eaea;
	// box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
    transition-duration: 0.6s;
}