<!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top" (scroll)="onWindowScroll();">
    <div class="container">
      <a class="navbar-brand border-end pe-3 border-2 border-dark" routerLink="home">
          <img src="assets/images/STPL_Logo_White.svg" alt="STPL Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="navbar-text small text-white">
        ISO 9001 Certified Company
      </span>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="IndustriesnavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Industries
            </a>
            <ul class="dropdown-menu animate__animated animate__pulse shadow" aria-labelledby="IndustriesnavbarDropdown">
              <li><a class="dropdown-item" routerLink="industries">Defence</a></li>
              <li><a class="dropdown-item" routerLink="industries">Mining</a></li>
              <li><a class="dropdown-item" routerLink="industries">Farm & Dairy</a></li>
              <li><a class="dropdown-item" routerLink="industries">Agriculture</a></li>
              <li><a class="dropdown-item" routerLink="industries">Healthcare</a></li>
              <li><a class="dropdown-item" routerLink="industries">Education</a></li>
              <li><a class="dropdown-item" routerLink="industries">Election & Voting</a></li>
              <li><a class="dropdown-item" routerLink="industries">Logistics & Transport</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="ServicesnavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu animate__animated animate__pulse shadow" aria-labelledby="ServicesnavbarDropdown">
              <li><a class="dropdown-item" routerLink="services">IOT</a></li>
              <li><a class="dropdown-item" routerLink="services">Automation & AI</a></li>
              <li><a class="dropdown-item" routerLink="services">IT Consulting</a></li>
              <li><a class="dropdown-item" routerLink="services">Product Testing</a></li>
              <li><a class="dropdown-item" routerLink="services">Software Development</a></li>
              <li><a class="dropdown-item" routerLink="services">Mobile App Development</a></li>
              <li><a class="dropdown-item" routerLink="services">Cloud Infrastructure</a></li>
              <li><a class="dropdown-item" routerLink="services">Quality Engineering</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="ProjectsnavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Projects
            </a>
            <ul class="dropdown-menu animate__animated animate__pulse shadow" aria-labelledby="ProjectsnavbarDropdown">
              <li><a class="dropdown-item" routerLink="projects">Rail Suraksha App</a></li>
              <li><a class="dropdown-item" routerLink="projects">MEA - A World Of Opportunities</a></li>
              <li><a class="dropdown-item" routerLink="projects">Chara Chavani Software</a></li>
              <li><a class="dropdown-item" routerLink="projects">Front Page News Application</a></li>
              <li><a class="dropdown-item" routerLink="projects">Mahatrack Software</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="ProductsnavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Solutions
            </a>
            <ul class="dropdown-menu animate__animated animate__pulse shadow" aria-labelledby="ProductsnavbarDropdown">
              <li><a class="dropdown-item" routerLink="solutions">Mining Monitoring System</a></li>
              <li><a class="dropdown-item" routerLink="solutions">KIMS (Kote Inventory Management System)</a></li>
              <li><a class="dropdown-item" routerLink="solutions">Dairy Management ERP System</a></li>
              <li><a class="dropdown-item" routerLink="solutions">eVet Veterinary Services</a></li>
              <li><a class="dropdown-item" routerLink="solutions">Election Management System</a></li>
              <li><a class="dropdown-item" routerLink="solutions">School Management System</a></li>
              <li><a class="dropdown-item" routerLink="solutions">Learning Management System</a></li>
              <li><a class="dropdown-item" routerLink="solutions">Video Conference Platform</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="DiscovernavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Discover Shaurya
            </a>
            <ul class="dropdown-menu animate__animated animate__pulse shadow" aria-labelledby="DiscovernavbarDropdown">
              <li><a class="dropdown-item" routerLink="discover-us">About Us</a></li>
              <li><a class="dropdown-item" routerLink="#">Blogs</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="career">Career</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="contact-us">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>  -->
  
<nav class="navbar navbar-light navbar-light fixed-top" (scroll)="onWindowScroll()">
  <div class="container">
    <a class="navbar-brand" href="home">
      <img src="assets/images/STPL_Logo_White.svg" alt="STPL Logo">
    </a>
    <div class="d-flex">
      <select class="form-select">
        <option value="en">English</option>
        <option value="mr">Marathi</option>
        <option value="hn">Hindi</option>
      </select>
      <input type="checkbox" id="main-navigation-toggle" class="btn btn--close" title="Toggle main navigation" />
      <label for="main-navigation-toggle">
        <span></span>
      </label>
      <nav id="main-navigation" class="nav-main">
        <ul class="menu">
          <li class="menu__item">
            <a class="menu__link" href="home">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="industries">Industries</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="services">Services</a>
            <!-- <ul class="submenu">
                    <li class="menu__item">
                      <a class="menu__link" href="#0">Burger King</a>
                    </li>
                    <li class="menu__item">
                      <a class="menu__link" href="#0">Southwest Airlines</a>
                    </li>
                    <li class="menu__item">
                      <a class="menu__link" href="#0">Levi Strauss</a>
                    </li>
                  </ul> -->
          </li>
          <li class="menu__item">
            <a class="menu__link" href="projects">Projects</a>
            <!-- <ul class="submenu">
                    <li class="menu__item">
                      <a class="menu__link" href="#0">Print Design</a>
                    </li>
                    <li class="menu__item">
                      <a class="menu__link" href="#0">Web Design</a>
                    </li>
                    <li class="menu__item">
                      <a class="menu__link" href="#0">Mobile App Development</a>
                    </li>
                  </ul> -->
          </li>
          <li class="menu__item">
            <a class="menu__link" href="solutions">Solutions</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="discover-us">Discover Us</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="career">Career</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="contact-us">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</nav>

<button data-bs-toggle="modal" class="requestdemo" data-bs-target="#RequestDemoModal">Request a Demo</button>

<!-- Modal for request a demo -->
<div class="modal fade" id="RequestDemoModal" tabindex="-1" aria-labelledby="RequestDemoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0">
      <form [formGroup]="requestDemoForm" (submit)="requestSubmitForm()">
      <div class="modal-header bg-main">
        <p class="modal-title mb-0" id="RequestDemoModalLabel">Request a Demo</p>
        <button type="button" class="btn-close" (click)="clearForm()" #requestDemoModel data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Full Name *" 
          formControlName="fullName" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
          <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
            <div class="text-danger" *ngIf="f.fullName.errors?.required">Full Name is
              required.</div>
            <div class="text-danger" *ngIf="f.fullName.errors?.pattern">Please enter
              Valid Full Name.</div>
          </div>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Email ID *" 
          formControlName="emailId" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }">
          <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
            <div class="text-danger" *ngIf="f.emailId.errors?.required">Email ID is
              required.</div>
            <div class="text-danger" *ngIf="f.emailId.errors?.pattern">Please enter
              Valid Email ID.</div>
          </div>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Company Name *"
          formControlName="companyName" [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }">
          <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
            <div class="text-danger" *ngIf="f.companyName.errors?.required">Company Name is
              required.</div>
            <div class="text-danger" *ngIf="f.companyName.errors?.pattern">Please enter
              Valid Company Name.</div>
          </div>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Phone Number *" maxlength="10" (keypress)="this.commonService.onlyDigitsExcludeZeroAtStart($event)"    
          formControlName="phoneNo" [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }">
          <div *ngIf="submitted && f.phoneNo.errors" class="invalid-feedback">
            <div class="text-danger" *ngIf="f.phoneNo.errors?.required">Phone Number is
              required.</div>
            <div class="text-danger" *ngIf="f.phoneNo.errors?.pattern">Please enter
              Valid Phone Number.</div>
          </div>
        </div>
        <div class="mb-0">
          <textarea class="form-control" rows="7" placeholder="Send your request here *"
          formControlName="requestDetails" [ngClass]="{ 'is-invalid': submitted && f.requestDetails.errors }">
        </textarea>
          <div *ngIf="submitted && f.requestDetails.errors" class="invalid-feedback">
            <div class="text-danger" *ngIf="f.requestDetails.errors?.required">Request Field is
              required.</div>
            <div class="text-danger" *ngIf="f.requestDetails.errors?.pattern">Please enter
              Valid Request Field.</div>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn bg-secondary bg-opacity-25 btn-sm rounded-0 px-3 py-2" (click)="clearForm()">Clear</button>
        <button type="submit" class="btn btn-main btn-sm rounded-0 px-3 py-2">Submit</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- Auto Modal pop-up for lead generation-->
<button data-bs-toggle="modal" class="requestdemo" #AutoPopupModal data-bs-target="#AutoPopModal"></button>
<div class="modal fade" id="AutoPopModal" tabindex="-1" aria-labelledby="AutoPopModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header bg-main">
        <p class="modal-title mb-0" id="AutoPopModalLabel">Connect With Us</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Full Name *" required>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Email ID *" required>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Company Name *" required>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Phone Number *" required>
        </div>
        <div class="mb-0">
          <textarea class="form-control" rows="5" placeholder="What do you want to see?" required></textarea>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn bg-secondary bg-opacity-25 btn-sm rounded-0 px-3 py-2">Clear</button>
        <button type="submit" class="btn btn-main btn-sm rounded-0 px-3 py-2">Submit</button>
      </div>
    </div>
  </div>
</div>