.photo-container{
    width: 150px;
    position: relative;
    margin: 0 auto;
    }
    .update-photo {
    padding: 7px;
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 3px;
    text-align: center;
    font-size: 0.85rem;
    right: -16px;
    top: -10px;
    z-index: 9;
    object-fit: cover;
    }
    .profile-photo{
    object-fit: cover;
    height:150px;
    width: 150px;
    object-position: center;
    }