<div class="row">
    <div class="col-sm-7">
        <div class="card plain-card">
            <div class="card-header">
                <div class="row justify-content-between align-items-center">
                    <div class="col-sm-6">User Profile</div>
                    <div class="col-sm-6 form-container text-end">
                        <button type="button" class="btn btn-sm bg-primary bg-opacity-10 text-primary"
                            title="Edit Profile" (click)="disableDiv = false">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div [class.disabled-contenct]="disableDiv">
                <form [formGroup]="userProfileForm">
                    <div class="card-body">
                        <!-- <div class="col-sm-3">                                                
                            <div class="position-relative">
                                <a class="update-photo" (click)="choosePhoto()">
                                    <i class="fas fa-camera"></i>
                                </a>
                                <a class="update-photo" *ngIf="ImgUrl" [class.disable-close-btn]="disabledEditForm" (click)="removePhoto();">
                                    <i class="fas fa-times"></i>
                                </a>
                                <input type="file" id="my_file" #myInput class="d-none" (change)="readUrl($event)" #fileInput>
                                <img src="assets/images/dashboard-images/ncp-default.png" *ngIf="!ImgUrl" class="img-fluid img-thumbnail profile-photo">
                                <img *ngIf="ImgUrl" src="{{ImgUrl}}" class="img-fluid img-thumbnail profile-photo">
                            </div>
                        </div> -->
                        <div class="photo-container mb-3">
                            <a class="update-photo btn bg-danger bg-opacity-10 text-danger" (click)="removePhoto();">
                                <i class="fas fa-times"></i>
                            </a>
                            <a class="update-photo btn bg-success bg-opacity-10 text-success" (click)="choosePhoto()">
                                <i class="fas fa-camera"></i>
                            </a>
                            <input type="file" class="d-none" id="my_file" (change)="readUrl($event)" #fileInput>
                            <img src="../../../assets/images/user.png" class="img-fluid img-thumbnail profile-photo">
                        </div>
                        <div class="form-container">
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <label class="form-label">First Name</label>
                                    <input class="form-control" formControlName="firstName" type="text"
                                        placeholder="First Name"
                                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                        <div class="text-danger" *ngIf="f.firstName.errors?.required">First Name is
                                            required.</div>
                                        <div class="text-danger" *ngIf="f.firstName.errors?.pattern">Please enter
                                            Valid First Name</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label">Last Name</label>
                                    <input class="form-control" formControlName="lastName" type="text"
                                        placeholder="Last Name"
                                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                        <div class="text-danger" *ngIf="f.lastName.errors?.required">Last Name is
                                            required.</div>
                                        <div class="text-danger" *ngIf="f.lastName.errors?.pattern">Please enter
                                            Valid Last Name</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <label class="form-label">Email ID</label>
                                    <input class="form-control" formControlName="email" type="text"
                                        placeholder="Email ID"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div class="text-danger" *ngIf="f.email.errors?.required">Email ID is
                                            required.</div>
                                        <div class="text-danger" *ngIf="f.email.errors?.pattern">Please enter
                                            Valid Email ID.</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label">Contact No.</label>
                                    <input class="form-control" formControlName="mobileNo" type="text"
                                        placeholder="Contact No."
                                        [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }">
                                    <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                                        <div class="text-danger" *ngIf="f.mobileNo.errors?.required">Contact No. is
                                            required.</div>
                                        <div class="text-danger" *ngIf="f.mobileNo.errors?.pattern">Please enter
                                            Valid Contact No..</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <label class="form-label required-field">Role</label>
                                    <ngx-select [allowClear]="true" [items]="roleArray" formControlName="designation"
                                        placeholder="Select Job Category" optionValueField="name" optionTextField="name"
                                        [ngClass]="{ 'is-invalid': submitted && f.designation.errors }">
                                    </ngx-select>
                                    <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                                        <span class="text-danger" *ngIf="f.designation.errors?.required">Role is
                                            required.</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label">User Name</label>
                                    <input class="form-control" formControlName="userName" type="text"
                                        placeholder="User Name"
                                        [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
                                    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                        <div class="text-danger" *ngIf="f.userName.errors?.required">User Name is
                                            required.</div>
                                        <div class="text-danger" *ngIf="f.userName.errors?.pattern">Please enter
                                            Valid User Name</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="button" class="btn bg-dark bg-opacity-10 text-dark"
                                        (click)="clearProfileForm()">Cancel</button>
                                </div>
                                <div class="col-sm-6 text-end">
                                    <button type="button" class="btn btn-main"
                                        (click)="updateProfileData()">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card plain-card">
            <div class="card-header">
                <div class="row justify-content-between align-items-center">
                    <div class="col-sm-6">Change Password</div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-container">
                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <form [formGroup]="changePassForm">
                                <div class="mb-3">
                                    <label class="form-label">Old Password</label>
                                    <div class="input-group">
                                        <input class="form-control" [type]="oldPassword ? 'password' : 'text'" formControlName="oldPassword"
                                            placeholder="Enter Old Password"
                                            [ngClass]="{ 'is-invalid': submittedCp && cp.oldPassword.errors }">
                                        
                                            <button class="btn btn-light border" (click)="oldPassword = !oldPassword">
                                                <i class="fa-solid fa-eye" *ngIf="oldPassword"> </i>
                                                <i class="fa-solid fa-eye-slash" *ngIf="!oldPassword"> </i>
                                            </button>
                                            <div *ngIf="submittedCp && cp.oldPassword.errors" class="invalid-feedback">
                                            <div class="text-danger" *ngIf="cp.oldPassword.errors?.required">Please
                                                enter old Password</div>
                                            <div class="text-danger"
                                                *ngIf="cp.oldPassword.errors?.maxLength || cp.oldPassword.errors?.pattern">
                                                It
                                                must contain 8 or more characters that are of at least one number, and
                                                one special characters, and one uppercase and lowercase letter.</div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">New Password</label>
                                    <div class="input-group">
                                        <input class="form-control" [type]="newPassword ? 'password' : 'text'" formControlName="newPassword"
                                            placeholder="Enter New Password"
                                            [ngClass]="{ 'is-invalid': submittedCp && cp.newPassword.errors }">
                                            <button class="btn btn-light border" (click)="newPassword = !newPassword"> 
                                                <i class="fa-solid fa-eye" *ngIf="newPassword"> </i>
                                                <i class="fa-solid fa-eye-slash" *ngIf="!newPassword"> </i>
                                            </button>
                                            <div *ngIf="submittedCp && cp.newPassword.errors" class="invalid-feedback">
                                            <div class="text-danger" *ngIf="cp.newPassword.errors?.required">Please enter
                                                new Password</div>
                                            <div class="text-danger"
                                                *ngIf="cp.newPassword.errors?.maxLength || cp.newPassword.errors?.pattern">
                                                It must contain 8 or more characters that are of at least one number,
                                                and
                                                one special characters, and one uppercase and lowercase letter.</div>
                                        </div>

                                        
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Retype Password</label>
                                    <div class="input-group">
                                        <input class="form-control" [type]="confirmPassword ? 'password' : 'text'" formControlName="ConfirmPassword"
                                            placeholder="Retype Password"
                                            [ngClass]="{ 'is-invalid': submittedCp && cp.ConfirmPassword.errors }">
                                            <button class="btn btn-light border" (click)="confirmPassword = !confirmPassword">
                                                <i class="fa-solid fa-eye" *ngIf="confirmPassword"> </i>
                                                <i class="fa-solid fa-eye-slash" *ngIf="!confirmPassword"> </i>
                                            </button>
                                        <div *ngIf="submittedCp && cp.ConfirmPassword.errors" class="invalid-feedback">
                                            <div class="text-danger" *ngIf="cp.ConfirmPassword.errors?.required">
                                                Please enter new Password </div>
                                            <div class="text-danger"
                                                *ngIf="cp.ConfirmPassword.errors?.maxLength || cp.ConfirmPassword.errors?.pattern">
                                                It must contain 8 or more characters that are of at least one number,
                                                and
                                                one special characters, and one uppercase and lowercase letter.</div>
                                        </div>
                                        <div class="text-danger" *ngIf="cp.ConfirmPassword.errors?.notMatched">
                                            New Password and Confirm not match
                                        </div>
                                        <div class="text-danger" *ngIf="cp.ConfirmPassword.errors?.Matched">
                                            Old password and new password are same please enter new password different
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <button type="button" class="btn bg-dark bg-opacity-10 text-dark"
                                            (click)="clearChangePassForm()">Cancel</button>
                                    </div>
                                    <div class="col-sm-auto text-end">
                                        <button type="submit" class="btn btn-main" (click)="changePassword()">Change
                                            Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>