<div class="page-heading">
    <div class=" bg-dark text-white">
        <img src="../../../assets/images/services/IT_Consulting.png" class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <h3 data-aos="fade-right"  data-aos-delay="350">Our Clients</h3>
                    </div>
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb"  data-aos="fade-right"  data-aos-delay="500">
                                <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                                <li class="breadcrumb-item" aria-current="page">Discover Us</li>
                                <li class="breadcrumb-item active" aria-current="page">Our Clients</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-2 overflow-hidden">
    <div class="row mb-4">
        <div class="col-sm-6">
            <div class="card">
                <img src="../../../../assets/images/clientele/consult-buddy.png" class="img-fluid m-auto" alt="...">
                <div class="card-body">
                    <!-- <h5 class="card-title">Consult Buddy</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p> -->
                    
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img src="../../../../assets/images/clientele/Govind-Logo.png" class="img-fluid m-auto" alt="...">
                <div class="card-body">
                    <!-- <h5 class="card-title">Dairy Software</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-6">
            <div class="card">
                <img src="../../../../assets/images/clientele/India_Army.png" class="img-fluid m-auto" alt="...">
                <div class="card-body">
                    <!-- <h5 class="card-title">Dairy Software</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p> -->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img src="../../../../assets/images/clientele/indian-railway-logo.png" class="img-fluid m-auto" alt="...">
                <div class="card-body">
                    <!-- <h5 class="card-title">Dairy Software</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-sm-6">
            <div class="card">
                <img src="../../../../assets/images/clientele/Railtel_Logo.png" class="img-fluid m-auto" alt="...">
                <div class="card-body">
                    <!-- <h5 class="card-title">Dairy Software</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p> -->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img src="../../../../assets/images/clientele/Railway_Protection_Force_Logo.png" class="img-fluid m-auto" alt="...">
                <div class="card-body">
                    <!-- <h5 class="card-title">Dairy Software</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-sm-6">
            <div class="card">
                <img src="../../../../assets/images/clientele/Seal_of_Maharashtra.png" class="img-fluid m-auto" alt="...">
                <div class="card-body">
                    <!-- <h5 class="card-title">Dairy Software</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p> -->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img src="../../../../assets/images/clientele/trti-logo.png" class="img-fluid m-auto" alt="...">
                <div class="card-body">
                    <!-- <h5 class="card-title">Dairy Software</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p> -->
                </div>
            </div>
        </div>
    </div>

</div>