<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="../../../../assets/images/products/Mining_Industries.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <h3 class="mb-4" data-aos="fade-right"  data-aos-delay="350">mahakhanij</h3>
                    </div>
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb" data-aos="fade-right"  data-aos-delay="500">
                                <li class="breadcrumb-item"><a routerLink="../../home">Home</a></li>
                                <li class="breadcrumb-item"><a routerLink="../../solutions">Solutions</a></li>
                                <li class="breadcrumb-item">mahakhanij</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container px-5 py-2 overflow-hidden">
    <div class="row" id="main-content">
        <div class="row">
            <h3 class="text-main">Introduction</h3>
        </div>
        <div class="">
            <p>
                For decades, the processes were handled manually which resulted in delay in monitoring and reporting. In
                addition, there was no system for end-to-end tracking of minor minerals from quarry till the
                destination. Therefore, it was tough for the Department to keep track of the actual quantity of minerals
                excavated.

                Owing to aforementioned issues, Revenue Department took the step to deploy integrated IT enabled process
                for monitoring all Minor Minerals in the state of Maharashtra such as Limestone and Lime Shell, Laterite
                Stone, Murum, Chalcedony Pebbles, Ordinary Sand, Mangalore Tile Clay, Soil, Slate and Shale, Brick Clay,
                Bentonite, Decorative Stones, Agate, Corundum, Dolomite, Feldspar, Fireclay, Laterite, Mica,
                Pyrophyllite, Quartz, Quartzite, Shale, Silica Sand, and China Clay.
            </p>
        </div>
        <div class="row">
            <p>
                <strong> mahakhanij system </strong> is a web-based solution having interface with Android and iOS
                applications. Entire
                data of mining activity is stored in a central cloud server and is available to all stakeholders across
                the state.
            </p>
            <p class="">The mahakhanij System is having below modules:</p>
            <ul class="mx-2">
                <li>Demand Note Generation, Payment Collections and Reconciliation</li>
                <li>Master Entity Registration and Allotment </li>
                <li> e-TP Generation module </li>
                <li> Monitoring</li>
                <li> Mineral Vehicle Tracking System</li>
                <li>Analysis and Reports </li>
            </ul>

        </div>
        <div class="row mb-4 align-items-center">
            <div class="col-sm-7" data-aos="fade-right" data-aos-delay="50">
                <strong class="text-main">A. GPS DEVICE TRACKING :</strong>
                <p>

                    <b> GPS </b> manufacturers who are providing AIS-140 GPS Devices or services in Maharashtra for all the
                    minor-mineral transporting vehicles must register in mahakhanij.
                </p>
            </div>
            <div class="col-sm-5">
                <img src="../../../../assets/images/products/Mining_Industries.jpg" class="img-fluid" data-aos="fade-left"
                    data-aos-delay="50">
            </div>

        </div>
        <div class="row mt-5 align-items-center">
            <div class="col-sm-5">
                <img src="../../../../assets/images/products/Mining_Industries_1.jpg" class="img-fluid" data-aos="fade-right"
                    data-aos-delay="50">
            </div>
            <div class="col-sm-7" data-aos="fade-left" data-aos-delay="50">
                <strong class="text-main">B. INTERSTATE MINERAL TRANSPORT :</strong>
                <p>
                    It is inevitable to transport the mineral from one state to other to ensure availability of natural resource for fastest developing regions.
                </p>
            </div>
            

        </div>
    </div>
</div>