<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="../../../assets/images/page-banners/Projects.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <h3 data-aos="fade-right"  data-aos-delay="350">Our Latest Projects</h3>
                    </div>
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb" data-aos="fade-right"  data-aos-delay="500">
                                <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Projects</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-2 overflow-hidden">
    <div class="row" id="main-content">
        <div class="col-sm-12">
            <div class="row align-items-center gx-5 mb-5">
                <div class="col-sm-6" >
                    <div data-aos="fade-right" data-aos-delay="50">
                        <h4 class="mb-4 text-main">Rail Suraksha App</h4>
                        <p>RailSuraksha CDMS(RPF Complaint & Disaster Management) Official App has been developed with
                            the
                            aim to take immediate action on emergencies and to resolve passenger's complaints in Central
                            Railway Jurisdiction. In case of any emergency the user can directly call to 182 All India
                            RPF
                            Helpline provided through the application which will connect to the nearest RPF Control
                            Room. A
                            Panic button has also been provided to the user in the application so as to alert RPF and
                            other
                            enforcement agencies to respond to the emergency situation at the earliest. Any user can
                            register a complaint related to the security issues in the Central Railway Jusrisdiction.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6" data-aos="fade-left" data-aos-delay="50">
                    <img src="../../../assets/images/Projects/Rail_1.jpg" class="img-fluid">
                </div>
            </div>
            <div class="row align-items-center gx-5 mb-5">
                <div class="col-sm-6">
                    <img src="../../../assets/images/Projects/MEA_1.jpg" class="img-fluid w-100" data-aos="fade-right"
                        data-aos-delay="50">
                </div>
                <div class="col-sm-6" data-aos="fade-left" data-aos-delay="50">
                    <h4 class="mb-4 text-main">MEA - A World Of Opportunities</h4>
                    <p>
                        Maratha Entrepreneurs Association (MEA) is an initiative to bring individuals belonging to the
                        Maratha entrepreneurs community under a single umbrella, thereby facilitating their business
                        growth.
                        MEA was set up with the wider mission of empowering community entrepreneurs and adding value to
                        their business ventures.
                    </p>
                </div>
            </div>
            <div class="row align-items-center gx-5 mb-5">
                <div class="col-sm-6" data-aos="fade-right" data-aos-delay="50">
                    <h4 class="mb-4 text-main">Chara Chavani Software</h4>
                    <p>In the high drought situation, Maharashtra Government provides fodder for the farmers of the
                        country by raising the fodder for farmers. the charachavani.com system is used to make the
                        administration available to the administration in every transparent manner, which is provided to
                        every animal in every camp. In this Android app and website have been used together.</p>
                </div>
                <div class="col-sm-6" data-aos="fade-left" data-aos-delay="50">
                    <img src="../../../assets/images/Projects/chara_chavani_1.jpg" class="img-fluid w-100">
                </div>
            </div>
            <div class="row align-items-center gx-5 mb-5">
                <div class="col-sm-6" data-aos="fade-right" data-aos-delay="50">
                    <img src="../../../assets/images/Projects/MahaTrack_1.jpg" class="img-fluid w-100">
                </div>
                <div class="col-sm-6" data-aos="fade-left" data-aos-delay="50">
                    <h4 class="mb-4 text-main">Mahatrack Software</h4>
                    <p>
                        This application is GPS based Vehicle Tracking System, it helps you to track your vehicle in
                        real time from your mobile and website
                    </p>
                </div>
            </div>
            <div class="row align-items-center gx-5 mb-5">
                <div class="col-sm-6" data-aos="fade-right" data-aos-delay="50">
                    <h4 class="mb-4 text-main">Consult Buddy Application</h4>
                    <p>CONSULT BUDDY ends Your struggle of getting info about not just tenders you deserve but also that
                        additional information which is key to winning and also executing them successfully.
                        It is seen that the tenders/ bidders grapple in the dark every day to get appropriate
                        information regarding project/ work even though they have great expertise to execute.</p>
                </div>
                <div class="col-sm-6" data-aos="fade-left" data-aos-delay="50">
                    <img src="../../../assets/images/Projects/consult_buddy_1.jpg"
                        class="img-fluid w-100">
                </div>
            </div>
            <div class="row align-items-center gx-5 mb-5">
                <div class="col-sm-6" data-aos="fade-right" data-aos-delay="50">
                    <img src="../../../assets/images/Projects/trti_1.jpg" class="img-fluid w-100">
                </div>
                <div class="col-sm-6" data-aos="fade-left" data-aos-delay="50">
                    <h4 class="mb-4 text-main">TRTI Web Application</h4>
                    <p>
                        'AadiVanmitra' online Portal has been developed with the objective of effective implementation
                        of the Scheduled Tribes and Other Traditional Forest Dwellers (Recognition of Forest Rights) Act
                        2006 and Rules 2008 and Amendment Rules 2012.

                        This portal has been developed keeping in mind the objective of allowing the individuals /
                        groups and villages / padas from the Scheduled Tribes and Other Traditional Forest Dwellers to
                        file claims about Individual Forest Rights or Community Forest Rights related to forest land in
                        a smooth fashion, to check the current status of the claims filed and to be able to get the
                        forest rights title (certificate) without any hassles.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>