<div class="container py-4">
    <div class="row" id="banner">
        <div class="col-sm">
            <p class="small-heading">
                IT Company
            </p>
            <h1>
                We build software and <br>provide advance technology services
            </h1>
            <p class="small-text">We are delivering pro level services with our specialist team,<br /> just get started
                with us</p>
            <div class="d-flex align-items-center">
                <a class="btn btn-outline-blue px-4 py-3 rounded-0 me-4">
                    Get Started Today
                </a>
                <div class="small text-muted">
                    <a class="btn btn-blue play-button me-2" data-bs-toggle="modal" data-bs-target="#HowItWorksModal">
                        <i class="fa-solid fa-play"></i>
                    </a>
                    How It Works!
                </div>
            </div>
        </div>
        <div class="col-sm-auto text-end">
            <div id="Bannercarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/images/1.jpg" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/images/2.jpg" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/images/3.jpg" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#Bannercarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#Bannercarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>


</div>





<!-- Modal to show how it works -->
<div class="modal fade" id="HowItWorksModal" tabindex="-1" aria-labelledby="HowItWorksModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content bg-transparent">
            <div class="modal-body p-0 position-relative">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-light p-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </span>
                <iframe width="100%" height="506" src="https://www.youtube.com/embed/oT26F6fAszE"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>