<div id="HomeBannerCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#HomeBannerCarousel" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#HomeBannerCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#HomeBannerCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#HomeBannerCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <section class="cd-section banner1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="animate__animated animate__fadeInDown">We use Technology</h6>
                            <h1 class="animate__animated animate__fadeInLeft animate__delay-1s">
                                to build<br> new future</h1>
                            <a class="btn btn-readmore" href="#">READ MORE</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="carousel-item">
            <section class="cd-section banner2">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-1 order-lg-0">
                            <h6 class="animate__animated animate__fadeInDown text-warning">We use Technology</h6>
                            <h1 class="animate__animated animate__fadeInLeft animate__delay-1s">
                                to bring<br>people together
                            </h1>
                            <a class="btn btn-readmore" href="#">READ MORE</a>
                        </div>
                        <div class="col-lg-6 col-12 text-lg-end order-0 order-lg-1">
                            <img src="../../../assets/images/banner2-img.png"
                                class="img-fluid w-75 animate__animated animate__fadeInRight floating" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="carousel-item">
            <section class="cd-section banner3">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-sm-6 left-content order-1 order-lg-0">
                            <h6 class="animate__animated animate__fadeInDown">We use Technology</h6>
                            <h1 class="animate__animated animate__fadeInLeft animate__delay-1s">
                                to create<br> new opportunity
                            </h1>
                            <a class="btn btn-readmore" href="#">READ MORE</a>
                        </div>
                        <div class="col-lg-6 text-lg-end order-0 order-lg-1">
                            <img src="../../../assets/images/banner3-img.png"
                                class="img-fluid animate__animated animate__fadeInRight floating" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="carousel-item">
            <section class="cd-section banner4">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-6 order-1 order-lg-0">
                            <h6 class="animate__animated animate__fadeInDown text-white">We use Technology</h6>
                            <h1 class="animate__animated animate__fadeInLeft animate__delay-1s">
                                to create<br>a magical experience
                            </h1>
                            <a class="btn btn-readmore" href="#">READ MORE</a>
                        </div>
                        <div class="col-lg-6  text-lg-end order-0 order-lg-1">
                            <img src="../../../assets/images/banner4-img.png"
                                class="img-fluid w-75 animate__animated animate__fadeInRight floating" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#HomeBannerCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#HomeBannerCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<section class="our-services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 text-center">
                <h5 class="sub-heading">OUR SERVICES</h5>
                <h2 class="heading">Save your company's productive time with the help of our pro support</h2>
            </div>
        </div>
        <div class="row g-3">
            <!-- <div class="col-sm-3" *ngFor="let servicesObj of servicesArray">
                <div class="card card-body" [style.background-color]="servicesObj?.color">
                    <div class="overlay FadeEffect"></div>
                    <h5>{{servicesObj?.pageName}}</h5>
                    <p>{{servicesObj?.about}}</p>
                    <img src="{{servicesObj.homeImagePath}}">
                </div>
            </div> -->

            <div class="col-sm-3">
                <div class="card card-body purple">
                    <div class="overlay FadeEffect"></div>
                    <h5>IoT</h5>
                    <p>Build smart workplaces, venues and cities with the design and implementation expertise that you need.</p>
                    <img src="../../../assets/images/services/IOT.png">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body blue">
                    <div class="overlay FadeEffect"></div>
                    <h5>Automation & AI</h5>
                    <p>Bridge the gap between your digital vision and reality with global technology services from us.</p>
                    <img src="../../../assets/images/services/Automation_Ai.png">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body orange">
                    <div class="overlay FadeEffect"></div>
                    <h5>IT Consulting</h5>
                    <p>With us, harness the power of IT tech and advanced analytics. Get the expertise, tools and technology that you need.</p>
                    <img src="../../../assets/images/services/IT_Consulting.png">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body pink">
                    <div class="overlay FadeEffect"></div>
                    <h5>Digital Transformation</h5>
                    <p>Unlock insights for real-time action that opens new opportunities. Amaze customers and staff with interconnected experiences.</p>
                    <img src="../../../assets/images/services/Product_Testing.png">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body skyblue">
                    <div class="overlay FadeEffect"></div>
                    <h5>Software Development</h5>
                    <p>Deploy the right technology to respond quickly to market possibilities with expert IT consulting from us.</p>
                    <img src="../../../assets/images/services/Software_Development.png">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body gold">
                    <div class="overlay FadeEffect"></div>
                    <h5>Mobile App Development</h5>
                    <p>A customized app can make your business more efficient and effective in managing business processes.</p>
                    <img src="../../../assets/images/services/MobileAppDevelopment.png">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body cyan">
                    <div class="overlay FadeEffect"></div>
                    <h5>Cloud Infrastructure</h5>
                    <p>state of art cloud infrastructure, lower cost, high speed and top security standard, all under one roof.</p>
                    <img src="../../../assets/images/services/Cloud_Infrastructure.png">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body green">
                    <div class="overlay FadeEffect"></div>
                    <h5>Quality Engineering</h5>
                    <p>Being at business speed means overcoming IT complexity to match the speed of actions to the speed of opportunities.</p>
                    <img src="../../../assets/images/services/Quality_Engineering.png">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-products">
    <div class="container">
        <div class="row align-items-center">
            <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-sm-6 product-info mining order-1 order-lg-0">
                                <h1>MINING<br> MONITORING<br> SYSTEM</h1>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard.</p>
                                <a class="btn btn-readmore" href="#">READ MORE</a>
                            </div>
                            <div class="col-sm-6 product-imgs order-0 order-lg-1">
                                <img src="assets/images/home-products/mining.png" alt="mining">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-sm-6 product-info election order-1 order-lg-0">
                                <h1>ELECTION<br> MANAGEMENT<br> SYSTEM</h1>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard.</p>
                                <a class="btn btn-readmore" href="#">READ MORE</a>
                            </div>
                            <div class="col-sm-6 product-imgs order-0 order-lg-1">
                                <img src="assets/images/home-products/election.png" alt="election">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-sm-6 product-info evet order-1 order-lg-0">
                                <h1>eVET<br> VETERINARY<br> SERVICES</h1>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard.</p>
                                <a class="btn btn-readmore" href="#">READ MORE</a>
                            </div>
                            <div class="col-sm-6 product-imgs order-0 order-lg-1">
                                <img src="assets/images/home-products/eVet.png" alt="evet">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-6 product-info order-1 order-lg-0">
                <div id="homeproductscarousel1" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active mining">
                            <h1>MINING<br> MONITORING<br> SYSTEM</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard.</p>
                            <a class="btn btn-readmore" href="#">READ MORE</a>
                        </div>
                        <div class="carousel-item election">
                            <h1>ELECTION<br> MANAGEMENT<br> SYSTEM</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard.</p>
                            <a class="btn btn-readmore" href="#">READ MORE</a>
                        </div>
                        <div class="carousel-item evet">
                            <h1>eVET<br> VETERINARY<br> SERVICES</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard.</p>
                            <a class="btn btn-readmore" href="#">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 product-imgs position-relative order-0 order-lg-1">
                <div id="homeproductscarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#homeproductscarousel" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#homeproductscarousel" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#homeproductscarousel" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/images/home-products/mining.png" class="w-100" alt="mining">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/images/home-products/election.png" class="w-100"  alt="election">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/images/home-products/eVet.png" class="w-100" alt="eVet">
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

<section class="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mb-4 mb-lg-0">
                <h4>About Us</h4>
                <!-- <img src="https://img.freepik.com/free-photo/digital-increasing-bar-graph-with-businessman-hand-overlay_53876-97640.jpg?w=1060&t=st=1654595163~exp=1654595763~hmac=89edd263ed0bfbda0af2015f427f5afd0b5b55ea1878c0c8a03bf25aaa9ee470" class="img-fluid mb-3"> -->
                <p>Shaurya Technosoft Pvt. Ltd. is a Pune (India) based company.</p>
                <p>We have successfully delivered a number of products which include Desktop Applications, Android Applications and Web Based Solutions. The end product is the convergence of a lot of research and development to cater to the needs of our clients which makes them achieve their full potential. We strive to achieve perfection and client satisfaction is prime important to us. We develop best-in-class software solutions to suit each client's requirement, keeping in mind the best practices in the industry.</p>
                <a class="btn btn-readmore2">Read More</a>
            </div>
            <div class="col-sm-6">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Mission
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="mb-0">
                                    Providing differentiated enterprise solutions and services our customer to help them achieve their aspirations.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Vision
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="mb-0">
                                    To create and distribute enterprise centric software solutions and services, locally and globally.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                Quality of Statement
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="mb-0">
                                    We aren’t perfect, our commitment towards improvement is.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="whyus bg-main">
    <div class="container">
        <div class="row g-5">
            <div class="col-sm-12">
                <h4 class="text-center">Why Us</h4>
            </div>
            <div class="col-sm-6">
                <div class="card mb-5 mb-lg-0 h-100">
                    <div class="card-body">
                        <i class="fa-solid fa-cubes"></i>
                        <h5>We deliver Excellence</h5>
                        <p>We offer strong and stable business solutions. We have clients that have been working with us since the company was founded. Last but not least, Romania is one of the best places for outsourcing.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-5 mb-lg-0 h-100">
                    <div class="card-body">
                        <i class="fa-solid fa-snowflake"></i>
                        <h5>Tailor Made Solutions</h5>
                        <p>We are agile and ready to align based on project specificity, so our clients’ needs are always met with quality and best resources. We know both the art of matching people and the science of technology.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-5 mb-lg-0 h-100">
                    <div class="card-body">
                        <i class="fa-solid fa-paper-plane"></i>
                        <h5>On-Time Delivery</h5>
                        <p>We have a great collection of internal frameworks with best-in-class infrastructure with a decade of experience in the IT software development industry that helps us to deliver solutions with superior quality at all times.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-5 mb-lg-0 h-100">
                    <div class="card-body">
                        <i class="fa-solid fa-bolt"></i>
                        <h5>Customer Service</h5>
                        <p>We have a great support team which ensures that every client is completely satisfied with our work which helps us provide superior customer service.</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-6">                
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam ipsum dolor sit amet.</p>
                <a routerLink="discover-us" class="btn btn-readmore">Read More</a>
            </div>
            <div class="col-sm-6">
                <img src="https://img.freepik.com/free-photo/happy-co-workers-close-window_1098-3172.jpg?t=st=1654512752~exp=1654513352~hmac=4a77c62da862705f8d9f83bf90cacc8cfaa299d9881b4b3dc5820983f7bb96fd&w=996"
                    class="img-fluid">
            </div> -->
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row" id="testimonials">
            <div class="col-sm-12">
                <div class="section-heading text-center">
                    <h3>What do our customers think about us?</h3>
                </div>
            </div>
            <div class="col-sm-12">
                <div id="testimonial" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-caption">
                                <p>Shaurya Technosoft have done a variety of work on an off as needs demand. I have always found them easy to deal with. Our projects have been complicated but they have been delivered on time & agreed budget..
                                </p>
                                <img src="https://i.imgur.com/lE89Aey.jpg">
                                <div id="image-caption">Mr. Pramod Patil</div>
                                <!-- <p>CEO, <span class="text-blue">Google.com</span></p> -->
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption">
                                <p>Great expertise. Strong communication. Finished work on time. Highly recommended !</p>
                                <img src="https://i.imgur.com/QptVdsp.jpg" class="img-fluid">
                                <div id="image-caption">Mr. Abhijit Shinde</div>
                                <!-- <p>CEO, <span class="text-blue">facebook.com</span></p> -->
                            </div>
                        </div>
                        <!-- <div class="carousel-item">
                            <div class="carousel-caption">
                                <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code,
                                    I don't know what will.This was the very best explanation of frameworks for
                                    brginners
                                    that I've ever seen.</p>
                                <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid">
                                <div id="image-caption">Harry Mon</div>
                                <p>CEO, <span class="text-blue">linkedin.com</span></p>
                            </div>
                        </div> -->
                    </div>
                    <a class="carousel-control-prev" type="button" data-bs-target="#testimonial" data-bs-slide="prev">
                        <i class='fas fa-arrow-left'></i>
                    </a>
                    <a class="carousel-control-next" type="button" data-bs-target="#testimonial" data-bs-slide="next">
                        <i class='fas fa-arrow-right'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-main clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Our Clientale</h3>
            </div>
            <div class="col-sm-3">
                <div class="card card-body mb-3 mb-lg-0">
                    <img src="https://demo.mahamining.com/homepage/Homepage_imgs/revenue_department.png">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body mb-3 mb-lg-0">
                    <img src="https://demo.consultbuddy.com/assets/images/ConsultBuddy_logo.png">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body mb-3 mb-lg-0">
                    <img src="https://demo.mahamining.com/homepage/Homepage_imgs/revenue_department.png">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body mb-3 mb-lg-0">
                    <img src="https://demo.mahamining.com/homepage/Homepage_imgs/revenue_department.png">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="subscribeus">
                    <div class="subscribe-head">
                        <h1 class="position-relative">SUBSCRIBE TO OUR<br> NEWSLETTER
                            <img src="../../../assets/images/subscribe-bird.png"
                                class="animate__animated animate__fadeInTopRight">
                        </h1>
                    </div>
                    <p class="text-dark mb-5">Be updated with product launch, news events and industry insights.</p>
                    <form [formGroup]="applaySubscribeForm">
                        <div class="row">
                            <div class="col-sm mb-3 mb-lg-0">
                                <input type="text" class="form-control" placeholder="First Name"
                                    formControlName="firstName"
                                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                    <div class="text-danger" *ngIf="f.firstName.errors?.required">First Name is
                                        required.</div>
                                    <div class="text-danger" *ngIf="f.firstName.errors?.pattern">Please enter
                                        Valid First Name.</div>
                                </div>
                            </div>
                            <div class="col-sm mb-3 mb-lg-0">
                                <input type="text" class="form-control" placeholder="Last Name"
                                    formControlName="lastName"
                                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                    <div class="text-danger" *ngIf="f.lastName.errors?.required">Last Name is
                                        required.</div>
                                    <div class="text-danger" *ngIf="f.lastName.errors?.pattern">Please enter
                                        Valid Last Name.</div>
                                </div>
                            </div>
                            <div class="col-sm mb-3 mb-lg-0">
                                <input type="email" class="form-control" placeholder="Email ID"
                                    formControlName="emailId"
                                    [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }">
                                <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                                    <div class="text-danger" *ngIf="f.emailId.errors?.required">Email ID is
                                        required.</div>
                                    <div class="text-danger" *ngIf="f.emailId.errors?.pattern">Please enter
                                        Valid Email ID.</div>
                                </div>
                            </div>
                            <div class="col-sm-auto">
                                <button class="btn" type="submit" (click)="subScribeSubmitForm()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>