<section class="cd-section banner1">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h6 class="animate__animated animate__fadeInDown">Creative</h6>
                <h1 class="animate__animated animate__fadeInLeft animate__delay-1s">BUILDING <br>BRAND IS<br> OUR BUSINESS</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                <a class="btn btn-readmore" href="#">READ MORE</a>
            </div>
        </div>
    </div>
</section>