<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="../../../../assets/images/products/Defence Industries.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <h3 class="mb-4">Kote Inventory Management System (KIMS)</h3>
                    </div>
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                                <li class="breadcrumb-item">Solutions</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container px-5 py-2 overflow-hidden">
    <div class="row" id="main-content">
        <div class="row">
            <h3 class="text-main">Introduction</h3>
        </div>
        <div class="intro">
            <p>
                Issue and receipt of weapons in a subunit’s Kote, is an extremely time-consuming process, due to it
                encompassing entries of accurate figures, and simultaneously ensuring the issue to the right person.
                This
                process, on average, takes approximately 3-4 min per individual; in turn, a battalion individual would
                take
                around 3 hours for the complete issue procedure. While this time-consuming process is quite acceptable
                in
                peacetime, the ramifications of the same for a speedy mob of a unit are not acceptable.
            </p>
        </div>
        <div class="requirements">
            <strong> Need for An Automated Kote Inventory Management System:</strong><br>
            <!-- The requirement was thus felt for the following: -->
            <ol>
                <li> Reduction in time in the issue of arms more so during mob, firing, and BPET.</li>
                <li>Issue of arms only to the person to whom it belongs to, to cut down on losses.</li>
                <li>Speedy generation of reports to monitor the issue and receipt, by the unit Cdr.</li>
            </ol>
        </div>

        <div class="row mb-5 align-items-center">
            <h3 class="mb-1 text-main">The Innovation</h3>
            <p>
                Shaurya Technosoft Pvt Ltd had devised an automated software-based system, which allows for the
                automated process of individual and GP issue/receipt of SAs from a battalion Kote the system is
                described as under:
            </p>
            <div class="col-sm-7" data-aos="fade-right" data-aos-delay="50">
                <strong>A. Bar Coding :</strong>
                Each weapon (Rifle 5.56mm/CMG/LMG) and its mag have been barcoded. The bar code with its unique
                individual code is printed on each weapon and mag.


            </div>
            <div class="col-sm-5">
                <img src="../../../../assets/images/products/Defence Industries_1.jpg" class="img-fluid" data-aos="fade-left"
                    data-aos-delay="50">
            </div>

        </div>
        <div class="row mb-5 align-items-center">

            <div class="col-sm-5">
                <img src="../../../../assets/images/products/Defence Industries_12.jpg" class="img-fluid" data-aos="fade-right"
                    data-aos-delay="50">
            </div>
            <div class="col-sm-7" data-aos="fade-left" data-aos-delay="50">
                <strong>B. Bar Code Scanning :</strong>
                The barcode reader reads the barcode in a split second and displays all info with respect to the
                particular visual, his photograph, and his weapon; as a result, the Kote NCO instead of entering various
                figures in
                ledgers/ registers/ document, just scans the barcode to enter the read data fields for issue/receipt.


            </div>


        </div>
        <div class="row mb-5 align-items-center">

           
            <div class="col-sm-7" data-aos="fade-right" data-aos-delay="50">
                <strong>C. Finger Print Scanner: :</strong>
                The fingerprint scanner ensures that the individual digitally signs his issue/ receipt action which
                again is a very prompt process and hence obviates any wastage of time. It simultaneously renders
                authenticity, accuracy, andswiftness to the operation and also ensures that the weapon is issued only to
                the individual that whom it has been allocated to.


            </div>
            <div class="col-sm-5">
                <img src="../../../../assets/images/products/Defence Industries_1.jpg" class="img-fluid" data-aos="fade-left"
                    data-aos-delay="50">
            </div>


        </div>
    </div>

</div>