<section class="blogOuter py-5">
    <div class="container">
        <!-- <div class="row">
            <div class="col-md-8">
                <div class="blogDetails">
                    <div class="blogImgO">
                        <img src="../../../assets/images/blog/blog1.png" alt="blogImg">
                        <p>Cyber Security</p>
                    </div>
                    <h2 class="blogHead">Lorem ipsum dolor sit amet</h2>
                    <p class="blogP">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
                    <p class="blogP">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae,</p>
                    <p class="blogP">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae,</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blogSidebar">

                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-lg-7">
              <div class="blogHead mb-5">
                <h2 class="blogTitle fw-bold"><span class="left_bar"></span>Featured</h2>
              </div>
              <div class="blogImgO">
                <a href="" class="post_thumb">
                  <div class="post_thumb_in post1"></div>
                  <span class="cs-link-icon cs-center"><i class="fas fa-link"></i></span>
                </a>
                <div class="post_right">
                  <div class="post_label">
                    <ul class="categories">
                      <li><a href="#" class="">Web Design</a></li>
                    </ul>
                    <div class="post_light_color">10 mins read</div>
                  </div>
                  <h2 class="post_title"><a href="#">UI/UX guides: how to create the simplest and most beautiful minimal design in the world</a></h2>
                </div>
              </div>
              <div class="cs-height_30 cs-height_lg_50"></div>
            </div>
            <div class="col-lg-5">
              
              <div class="post_wrap">
                <div class="blogHead mb-5">
                    <h2 class="blogTitle fw-bold"><span class="left_bar"></span>Popular</h2>
                </div>
                <div class="blogImgO mb-3">
                  <a href="blog-details.html" class="post_thumb post_thumb_sm">
                    <div class="post_thumb_in post2" ></div>
                    <span class="cs-link-icon cs-center"><i class="fas fa-link"></i></span>
                  </a>
                  <div class="post_right">
                    <div class="post_label">
                      <ul class="categories">
                        <li><a href="" class="">Web Design</a></li>
                      </ul>
                      <div class="post_light_color">10 mins read</div>
                    </div>
                    <h2 class="cs-post_title"><a href="#">How to grow a creative digital agency?</a></h2>
                  </div>
                </div>
                <div class="blogImgO ">
                  <a href="blog-details.html" class="post_thumb post_thumb_sm">
                    <div class="post_thumb_in post2" ></div>
                    <span class="cs-link-icon cs-center"><i class="fas fa-link"></i></span>
                  </a>
                  <div class="post_right">
                    <div class="post_label">
                      <ul class="categories">
                        <li><a href="" class="">Web Design</a></li>
                      </ul>
                      <div class="post_light_color">10 mins read</div>
                    </div>
                    <h2 class="cs-post_title"><a href="#">How to grow a creative digital agency?</a></h2>
                  </div>
                </div>
                <div class="blogImgO ">
                  <a href="blog-details.html" class="post_thumb post_thumb_sm">
                    <div class="post_thumb_in post2" ></div>
                    <span class="cs-link-icon cs-center"><i class="fas fa-link"></i></span>
                  </a>
                  <div class="post_right">
                    <div class="post_label">
                      <ul class="categories">
                        <li><a href="" class="">Web Design</a></li>
                      </ul>
                      <div class="post_light_color">10 mins read</div>
                    </div>
                    <h2 class="cs-post_title"><a href="#">How to grow a creative digital agency?</a></h2>
                  </div>
                </div>
                <div class="blogImgO ">
                  <a href="blog-details.html" class="post_thumb post_thumb_sm">
                    <div class="post_thumb_in post2" ></div>
                    <span class="cs-link-icon cs-center"><i class="fas fa-link"></i></span>
                  </a>
                  <div class="post_right">
                    <div class="post_label">
                      <ul class="categories">
                        <li><a href="" class="">Web Design</a></li>
                      </ul>
                      <div class="post_light_color">10 mins read</div>
                    </div>
                    <h2 class="cs-post_title"><a href="#">How to grow a creative digital agency?</a></h2>
                  </div>
                </div>
                <div class="blogImgO ">
                  <a href="blog-details.html" class="post_thumb post_thumb_sm">
                    <div class="post_thumb_in post2" ></div>
                    <span class="cs-link-icon cs-center"><i class="fas fa-link"></i></span>
                  </a>
                  <div class="post_right">
                    <div class="post_label">
                      <ul class="categories">
                        <li><a href="" class="">Web Design</a></li>
                      </ul>
                      <div class="post_light_color">10 mins read</div>
                    </div>
                    <h2 class="cs-post_title"><a href="#">How to grow a creative digital agency?</a></h2>
                  </div>
                </div>

              </div>

            </div> 
          </div>
    </div>
</section>