<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="../../../../assets/images/products//Dairy industry.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                     <h3>Dairy</h3> 
                        <!-- <h3>{{PageName}}</h3> -->
                    </div>
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="../../home">Home</a></li>
                                <li class="breadcrumb-item"><a routerLink="../../industries">Industries</a></li>
                                <!-- <li class="breadcrumb-item active">Industries</li> -->
                                <li class="breadcrumb-item active">Dairy</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container industries py-3">
    <div class="row" id="main-content">
        <div class="col-12">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center py-5">
                    <div class="shortInfo">
                        <h4 class="fw-bold mb-3 text-main">Automatic Milk Collection Unit</h4>
                        <!-- <h6 class="fw-bold mb-3">KIMS- Kote Inventory Management System</h6> -->
                        <p>The Automatic Milk Collection Unit also termed as the 'eMilkway Software' helps small dairy firms to maintain a database of farmers supplying milk to the dairy and is very useful in eliminating flaws of the traditional milk collection system.</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center py-5">
                    <div class="w-100">
                       
                            <img class="w-100" alt="img" src="../../../../assets/images/products/Dairy industry2.jpg">
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex align-items-center py-5">
                    <div class="w-100">
                      
                            <img class="w-100" alt="img" src="../../../../assets/images/products/Dairy industry_3.jpg">
                       
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center py-5">
                    <div class="shortInfo">
                        <h6 class="fw-bold mb-3 text-main">AMCU have following functions</h6>
                        <!-- <h6 class="fw-bold mb-3">KIMS- Kote Inventory Management System</h6> -->
                        <ul>
                            <li>We can use this software in Marathi and English language.</li>
                            <li>List of accounts, advance, cattlefeed, deductions and bonus are directly connected to accounting.</li>
                            <li>List the Quantity of protein milk.</li>
                            <li>If S.N.F.counting machine is not available then you can calculate S.N.F.by using C.L.R.</li>
                            <li>Ratecards can be prepared according to FAT and S.N.F.</li>
                            <li>Different Ratecards can be used for billing purposes.</li>
                            <li>Facility of databackup.</li>
                            <li>Number of reports like profit and loss can be generated.</li>
                            <li>User friendly software.</li>
                            <li>Multiple dairy firms can be connected to main dairy through internet.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>