<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="https://img.freepik.com/free-photo/business-teamwork-success-concept_1421-16.jpg?w=996&t=st=1652156925~exp=1652157525~hmac=d1ea544bcfa7bd197cf1cb1e32bc3846a0c6053da268c3a7bb8a291411c59e43"
            class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <h3>Career</h3>
                    </div>
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Career</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row" id="job-listing">
        <div class="col-sm-12">
            <div class="card card-body mb-3" *ngFor="let activePost of activeJobPostArray  | paginate: {itemsPerPage: pagesize, 
                currentPage: pageNumber, totalItems:totalRows}">
                <div class="d-flex align-items-center">
                    <div class="job-icon">
                        <i class="fa-solid fa-briefcase"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h5 class="job-title">
                            <a routerLink="../job-details" (click)="navigatePage(activePost?.id)">
                                {{activePost?.jobTitle}}
                            </a>
                        </h5>
                        <div class="d-flex details">
                            <div>
                                <i class="fa-solid fa-briefcase"></i> {{activePost?.experience}}
                            </div>
                            <div class="mx-5">
                                <i class="fa-solid fa-location-dot"></i> {{activePost?.jobLocation}}
                            </div>
                            <div class="me-5">
                                <i class="fa-regular fa-clock"></i> {{activePost?.jobPostEndDate | date : 'dd/mm/yyyy'}}
                            </div>
                            <div>
                                <i class="fa-solid fa-business-time"></i> {{activePost?.employmentType}}
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <a class="btn btn-main" (click)="navigatePage(activePost?.id)">Apply Now</a>
                    </div>
                  </div>
            </div>
            <div class="mt-2 text-end" *ngIf="activeJobPostArray?.length == 0">
                <div class="alert alert-danger text-center py-2">No Data Found..!
                </div>
            </div>
            <ng-container *ngIf="totalRows>10">
            <pagination-controls  previousLabel="" nextLabel=""
                (pageChange)="onClickPagintion($event)">
            </pagination-controls>
        </ng-container>
        </div>
    </div>
</div>