<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="../../../assets/images/page-banners/career.jpg"
            class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <h3>Career</h3>
                    </div>
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Career</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row" id="job-listing">
        <div class="col-sm-12">
            <div class="card card-body mb-3 text-center text-sm-start" *ngFor="let activePost of activeJobPostArray  | paginate: {itemsPerPage: pagesize, 
                currentPage: pageNumber, totalItems:totalRows}">
                <div class="row align-items-center">
                    <div class="col-sm-auto">
                        <div class="job-icon mb-2 mb-lg-0">
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <h5 class="job-title">
                                    <a routerLink="../job-details" (click)="navigatePage(activePost?.id)">
                                        {{activePost?.jobTitle}}
                                    </a>
                                </h5>
                            </div>
                        </div>
                        <div class="row details mb-3 mb-lg-0">
                            <div class="col-sm-2 col-6">
                                <i class="fa-solid fa-briefcase"></i> {{activePost?.experience}}
                            </div>
                            <div class="col-sm-2 col-6">
                                <i class="fa-solid fa-location-dot"></i> {{activePost?.jobLocation}}
                            </div>
                            <div class="col-sm-2 col-6">
                                <i class="fa-regular fa-clock"></i> {{activePost?.jobPostEndDate | date : 'dd/MM/yyyy'}}
                            </div>
                            <div class="col-sm-2 col-6">
                                <i class="fa-solid fa-business-time"></i> {{activePost?.employmentType}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <a class="btn btn-main" (click)="navigatePage(activePost?.id)">Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="mt-2 text-end" *ngIf="activeJobPostArray?.length == 0">
                No Vacancies till now.
            </div>
            <ng-container *ngIf="totalRows>10">
                <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion($event)">
                </pagination-controls>
            </ng-container>
        </div>
    </div>
</div>