<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="https://img.freepik.com/free-photo/freelance-young-businesswoman-casual-wear-using-laptop-working-living-room-home_7861-3051.jpg?w=1380&t=st=1650125868~exp=1650126468~hmac=a4779c7b420b0d92f1069d225b7cf4f8b18102b659c1781b6343e1b3d4ebe1a7" class="card-img" alt="...">
        <div class="card-img-overlay d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">
                <h1 class="card-title">career</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink="home">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Career</li>
                    </ol>
                  </nav>
            </div>
        </div>
    </div>
</div>

<div class="container" id="job-postings">
    <div class="sub-heading">
        Open Positions
    </div>

    <div class="card card-body mb-3 shadow-sm">
        <div class="row align-items-center">
            <div class="col-sm-auto">
                <div class="p-2 bg-primary rounded text-white fw-bold">
                    <i class="fas fa-trophy-alt"></i>
                </div>
            </div>
            <div class="col-sm-6">
                <h4 class="mb-0">UI Developer (React JS)</h4>
            </div>
            <div class="col-sm-2">
                <h6 class="mb-0">Mumbai</h6>
                <p class="small text-muted mb-0">Location</p>
            </div>
            <div class="col-sm-2">
                <h6 class="mb-0">2 - 3 Years</h6>
                <p class="small text-muted mb-0">Experience</p>
            </div>
            <div class="col-sm-auto">
                <button class="btn btn-main btn-sm">View Details</button>
            </div>
        </div>
    </div>

    <div class="card card-body mb-3 shadow-sm">
        <div class="row align-items-center">
            <div class="col-sm-auto">
                <div class="p-2 bg-primary rounded text-white fw-bold">
                    <i class="fas fa-trophy-alt"></i>
                </div>
            </div>
            <div class="col-sm-6">
                <h4 class="mb-0">UI Developer (React JS)</h4>
            </div>
            <div class="col-sm-2">
                <h6 class="mb-0">Mumbai</h6>
                <p class="small text-muted mb-0">Location</p>
            </div>
            <div class="col-sm-2">
                <h6 class="mb-0">2 - 3 Years</h6>
                <p class="small text-muted mb-0">Experience</p>
            </div>
            <div class="col-sm-auto">
                <button class="btn btn-main btn-sm">View Details</button>
            </div>
        </div>
    </div>

    <div class="card card-body mb-3 shadow-sm">
        <div class="row align-items-center">
            <div class="col-sm-auto">
                <div class="p-2 bg-primary rounded text-white fw-bold">
                    <i class="fas fa-trophy-alt"></i>
                </div>
            </div>
            <div class="col-sm-6">
                <h4 class="mb-0">UI Developer (React JS)</h4>
            </div>
            <div class="col-sm-2">
                <h6 class="mb-0">Mumbai</h6>
                <p class="small text-muted mb-0">Location</p>
            </div>
            <div class="col-sm-2">
                <h6 class="mb-0">2 - 3 Years</h6>
                <p class="small text-muted mb-0">Experience</p>
            </div>
            <div class="col-sm-auto">
                <button class="btn btn-main btn-sm">View Details</button>
            </div>
        </div>
    </div>    
</div>