<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="https://img.freepik.com/free-photo/business-teamwork-success-concept_1421-16.jpg?w=996&t=st=1652156925~exp=1652157525~hmac=d1ea544bcfa7bd197cf1cb1e32bc3846a0c6053da268c3a7bb8a291411c59e43"
            class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h3>Job Description</h3>
                    </div>
                    <div class="col-sm-6 text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                                <li class="breadcrumb-item"><a routerLink="../career">Career</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Job Description</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row g-2" id="job-details">
        <div class="col-sm-8">
            <h4>Graphics Designer</h4>
            <div class="card">
                <div class="card-header">About Company</div>
                <div class="card-body">
                    <p>Shaurya Technosoft Pvt. Ltd. is a Pune (India) based company. It is one of the fastest growing
                        software company. We build software and provide advance technology services to our customers
                        that add values to their business. We cater to the technology requirements of the Dairy
                        Industry, Manufacturing Industry, Defense Sector, e-Governance, Mining Sector, Vehicle Tracking
                        and Agricultural Sector. The other domains include Election Management, Inventory Management and
                        Animal Husbandry. Shaurya Technosoft also undertakes offshore projects of software development.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Job Description</div>
                <div class="card-body">
                    <p>Shaurya Technosoft Pvt. Ltd. is a Pune (India) based company. It is one of the fastest growing
                        software company. We build software and provide advance technology services to our customers
                        that add values to their business. We cater to the technology requirements of the Dairy
                        Industry, Manufacturing Industry, Defense Sector, e-Governance, Mining Sector, Vehicle Tracking
                        and Agricultural Sector. The other domains include Election Management, Inventory Management and
                        Animal Husbandry. Shaurya Technosoft also undertakes offshore projects of software development.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Educational Qualification</div>
                <div class="card-body">
                    <p>
                        BE/BCA/MCA
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Required Skill Set</div>
                <div class="card-body">
                    <p>
                        Solid JavaScript knowledge and familiarity with modern frameworks such as React, jQuery,
                        Bootstrap, CSS3, LESS, and HTML5
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Roles & Responsibility</div>
                <div class="card-body">
                    <p>
                        Solid JavaScript knowledge and familiarity with modern frameworks such as React, jQuery,
                        Bootstrap, CSS3, LESS, and HTML5
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-main w-100 mb-2 py-2 rounded-0" data-bs-toggle="modal"
                data-bs-target="#exampleModal">APPLY NOW</a>
            <div class="card">
                <div class="card-header">Job Summary</div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="fa-solid fa-location-dot"></i> Location
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-briefcase"></i> Experience
                        </li>
                        <li class="list-group-item">
                            <i class="fa-regular fa-clock"></i> Job Posted On
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-business-time"></i> Immediately Joining
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-hourglass-empty"></i> Full Time
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Share</div>
                <div class="card-body">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-light">
                            <i class="fa-brands fa-facebook-f"></i>
                        </button>
                        <button type="button" class="btn btn-light">
                            <i class="fa-brands fa-twitter"></i>
                        </button>
                        <button type="button" class="btn btn-light">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </button>
                        <button type="button" class="btn btn-light">
                            <i class="fa-brands fa-instagram"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal for job apply now -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-main">
                <p class="modal-title mb-0" id="exampleModalLabel">Apply Now</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <input type="text" readonly class="form-control" placeholder="Graphics Designer">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="First Name*">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Last Name*">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="email" class="form-control" placeholder="Email ID*">
                    </div>
                    <div class="col-sm-6">
                        <input type="tel" class="form-control" placeholder="Contact No*">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <ngx-file-drag-drop></ngx-file-drag-drop>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn bg-secondary bg-opacity-25 btn-sm rounded-0 px-3 py-2"
                    data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-main btn-sm rounded-0 px-3 py-2">Submit</button>
            </div>
        </div>
    </div>
</div>