<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="../../../assets/images/page-banners/career.jpg"
            class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <h3>{{jobPostGetByIdArray?.jobTitle}}</h3>
                    </div>
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="../../../home">Home</a></li>
                                <li class="breadcrumb-item"><a routerLink="../../../career">Career</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{jobPostGetByIdArray?.jobTitle}}
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row g-2" id="job-details">
        <div class="col-sm-8 order-1 order-lg-0">
            <h4>{{jobPostGetByIdArray?.jobTitle}}</h4>
            <div class="card">
                <div class="card-header">Job Category</div>
                <div class="card-body">
                    <p>{{jobPostGetByIdArray?.jobCategory}}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Job Description</div>
                <div class="card-body">
                    <p innerHtml="{{jobPostGetByIdArray?.jobDescription}}"></p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Educational Qualification</div>
                <div class="card-body">
                    <ul *ngFor="let qualifi of jobPostGetByIdArray?.qualifications">
                        <li> {{qualifi?.qualificationName}}</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Required Skill Set</div>
                <div class="card-body">
                    <ul *ngFor="let qualifi of jobPostGetByIdArray?.skillModels">
                        <li> {{qualifi?.skillName}}</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Roles & Responsibility</div>
                <div class="card-body">
                    <p innerHtml="{{jobPostGetByIdArray?.role_Responsbility}}"></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 order-0 order-lg-1">
            <a class="btn btn-main w-100 mb-2 py-2 rounded-0" data-bs-toggle="modal"
                data-bs-target="#exampleModal">APPLY NOW</a>
            <div class="card">
                <div class="card-header">Job Summary</div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="fa-solid fa-location-dot"></i> {{jobPostGetByIdArray?.jobLocation}}
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-briefcase"></i> {{jobPostGetByIdArray?.experience}}
                        </li>
                        <li class="list-group-item">
                            <i class="fa-regular fa-clock"></i> {{jobPostGetByIdArray?.jobPostEndDate | date:
                            'dd/MM/yyyy'}}
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-business-time"></i> {{jobPostGetByIdArray?.joiningPeriod}}
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-hourglass-empty"></i> {{jobPostGetByIdArray?.employmentType}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Share</div>
                <div class="card-body">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-light">
                            <i class="fa-brands fa-facebook-f"></i>
                        </button>
                        <button type="button" class="btn btn-light">
                            <i class="fa-brands fa-twitter"></i>
                        </button>
                        <button type="button" class="btn btn-light">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </button>
                        <button type="button" class="btn btn-light">
                            <i class="fa-brands fa-instagram"></i>
                        </button>
                    </div>
                    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#MessageModal">
                        Launch demo modal
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal for job apply now -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form [formGroup]="applayJobForm">
                <div class="modal-header bg-main">
                    <p class="modal-title mb-0" id="exampleModalLabel">Apply Now</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #jobDetailModel
                        (click)="clearForm()"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <input type="text" readonly class="form-control"
                                placeholder="{{jobPostGetByIdArray?.jobTitle}}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="First Name" formControlName="firstName"
                                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div class="text-danger" *ngIf="f.firstName.errors?.required">First Name is
                                    required.</div>
                                <div class="text-danger" *ngIf="f.firstName.errors?.pattern">Please enter
                                    Valid First Name.</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName"
                                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div class="text-danger" *ngIf="f.lastName.errors?.required">Last Name is
                                    required.</div>
                                <div class="text-danger" *ngIf="f.lastName.errors?.pattern">Please enter
                                    Valid Last Name.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="email" class="form-control" placeholder="Email ID" formControlName="emailId"
                                [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }">
                            <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                                <div class="text-danger" *ngIf="f.emailId.errors?.required">Email ID is
                                    required.</div>
                                <div class="text-danger" *ngIf="f.emailId.errors?.pattern">Please enter
                                    Valid Email ID.</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <input type="tel" class="form-control" placeholder="Contact No" formControlName="contactNo"
                                maxlength="10" (keypress)="this.commonService.onlyDigitsExcludeZeroAtStart($event)"
                                [ngClass]="{ 'is-invalid': submitted && f.contactNo.errors }">
                            <div *ngIf="submitted && f.contactNo.errors" class="invalid-feedback">
                                <div class="text-danger" *ngIf="f.contactNo.errors?.required">Contact No is
                                    required.</div>
                                <div class="text-danger" *ngIf="f.contactNo.errors?.pattern">Please enter
                                    Valid Contact No.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-sm-12 mt-4">
                        <label class="form-label">Upload Your Resume :</label>
                        <input type="file" class="file-input">
                    </div> -->
                        <div class="col-sm-6 mt-4">
                            <label class="form-label">Upload Your Resume</label>

                            <div class="input-group">
                                <input type="file" (change)="resumeUpload($event)" formControlName="resume_Path"
                                    class="form-control" #fileInput>
                                <span *ngIf="resumePath">
                                    <button type="button" class="btn btn-sm bg-transparent text-primary">
                                        <a target="_blank" [href]="resumePath">
                                            <i class="fa fa-file-alt text-primary" title="view Document"></i>
                                        </a>
                                    </button>
                                    <button type="button" class="btn btn-sm bg-transparent text-primary">
                                        <i class="fa fa-remove text-danger" title="Remove Document"
                                            (click)="removeDocument()"></i>
                                    </button>
                                </span>
                            </div>
                            <div *ngIf="resumeSubmit && !resumePath">
                                <div class="text-danger" style="font-size: 0.65rem;">Please upload document</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn bg-secondary bg-opacity-25 btn-sm rounded-0 px-3 py-2"
                        (click)="clearForm()">Clear</button>
                    <button type="submit" class="btn btn-main btn-sm rounded-0 px-3 py-2"
                        (click)="submitApplayJobForm()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal to show message -->
<div class="modal fade" id="MessageModal" tabindex="-1" aria-labelledby="MessageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
            <div class="modal-header bg-success text-white">
                <p class="modal-title mb-0" id="MessageModalLabel">Success</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                    <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                    <span class="swal2-success-line-tip"></span>
                    <span class="swal2-success-line-long"></span>
                    <div class="swal2-success-ring"></div>
                    <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                    <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                </div>


                <!-- <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;"><span
                        class="swal2-x-mark"><span class="swal2-x-mark-line-left"></span><span
                            class="swal2-x-mark-line-right"></span></span></div> -->
                
                <div class="text-center">
                    <h5 class="text-success mb-3">Success</h5>
                    <button type="button" class="btn btn-main px-5" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>