<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="https://img.freepik.com/free-photo/freelance-young-businesswoman-casual-wear-using-laptop-working-living-room-home_7861-3051.jpg?w=1380&t=st=1650125868~exp=1650126468~hmac=a4779c7b420b0d92f1069d225b7cf4f8b18102b659c1781b6343e1b3d4ebe1a7"
            class="card-img" alt="...">
        <div class="card-img-overlay d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">
                <h1 class="card-title">job description</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="home">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="career">career</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Job Description</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container" id="job-description">
    <h2 class="job-name">UI Developer (React JS)</h2>

    <div class="row">
        <div class="col-sm-8">
            <h4>Job Description</h4>
            <div class="details">
                <p>Company is a 2016 Iowa City-born start-up that develops consectetuer adipiscing elit. Phasellus
                    hendrerit.
                    Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed
                    pretium,
                    ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh.
                    Nullam mollis.
                    Ut justo. Suspendisse potenti.</p>
                <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue.
                    Morbi purus
                    libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit
                    tortor. Sed
                    semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu
                    pulvinar nunc
                    sapien</p>
                <p>Curabitur quis ante sed augue euismod tempor non quis diam. Sed non turpis et metus fringilla feugiat
                    non id
                    nisi. Integer eu quam purus. Nulla tristique nisl facilisis placerat egestas. Suspendisse lacus
                    mauris,
                    elementum et tempor vitae, ornare nec quam. Vivamus in consectetur felis, at faucibus mi.</p>
            </div>

            <h4>Required Knowledge, Skills, and Abilities</h4>
            <div class="details">
                <ul>
                    <li>Ability to write code &ndash; HTML &amp; CSS (SCSS flavor of SASS preferred when writing CSS)
                    </li>
                    <li>Proficient in Photoshop, Illustrator, bonus points for familiarity with Sketch (Sketch is our
                        preferred
                        concepting)</li>
                    <li>Cross-browser and platform testing as standard practice</li>
                    <li>Experience using Invision a plus</li>
                    <li>Experience in video production a plus or, at a minimum, a willingness to learn</li>
                </ul>
            </div>

            <h4>Experience</h4>
            <div class="details">
                <ul>
                    <li>Advanced degree or equivalent experience in graphic and web design</li>
                    <li>3 or more years of professional design experience</li>
                    <li>Direct response email experience</li>
                    <li>Ecommerce website design experience</li>
                    <li>Familiarity with mobile and web apps preferred</li>
                    <li>Excellent communication skills, most notably a demonstrated ability to solicit and address
                        creative and design feedback</li>
                    <li>Must be able to work under pressure and meet deadlines while maintaining a positive attitude and
                        providing exemplary customer service</li>
                    <li>Ability to work independently and to carry out assignments to completion within parameters of
                        instructions given, prescribed routines, and standard accepted practices</li>
                </ul>
            </div>
        </div>

        <div class="col-sm-4">
            <button type="button" class="btn w-100 btn-main mb-3 p-3">APPLY NOW</button>
            <div class="card mb-4">
                <div class="card-header fw-bold p-3">Job Summary</div>
                <div class="card-body">
                    <div class="d-flex summary">
                        <div class="flex-shrink-0">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <p>Mumbai, India</p>
                            <small>Location</small>
                        </div>
                    </div>
                    <div class="d-flex summary">
                        <div class="flex-shrink-0">
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <p>Full Time</p>
                            <small>Job Type</small>
                        </div>
                    </div>
                    <div class="d-flex summary">
                        <div class="flex-shrink-0">
                            <i class="fa-solid fa-graduation-cap"></i>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <p>BCA, MCA, B.E. (CS/IT), M. Sc. (CS/IT)</p>
                            <small>Qualification</small>
                        </div>
                    </div>
                    <div class="d-flex summary">
                        <div class="flex-shrink-0">
                            <i class="fa-solid fa-bolt"></i>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <p>2 - 3 Years</p>
                            <small>Experience</small>
                        </div>
                    </div>
                    <div class="d-flex summary">
                        <div class="flex-shrink-0">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <p>hr@shauryatechnosoft.com</p>
                            <small>Email Us At</small>
                        </div>
                    </div>
                </div>
            </div>

            <h6>Share</h6>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-light rounded me-2 text-main"><i class="fa-brands fa-facebook-f"></i></button>
                <button type="button" class="btn btn-light rounded me-2 text-main"><i class="fa-brands fa-twitter"></i></button>
                <button type="button" class="btn btn-light rounded me-2 text-main"><i class="fa-brands fa-instagram"></i></button>
                <button type="button" class="btn btn-light rounded text-main"><i class="fa-brands fa-linkedin-in"></i></button>
            </div>
        </div>
    </div>

</div>