#job-description{
    margin-bottom: 5rem;
}
#job-description .job-name{
    font-weight: 400;
    margin-bottom: 2rem;
    color: var(--main-color);
}
#job-description h4{
    margin-bottom: 0.75rem;
    font-size: 1.2rem;
}
#job-description .details{
    font-size: 0.9rem;
    color:#656565;
    line-height: 1.6rem;
}
#job-description .card-body .summary{
    margin-bottom: 10px;
}
#job-description .card-body i{
    color: var(--blue-color);
    width: 18px;
}
#job-description .card-body p{
    font-size: 0.95rem;
    font-weight: 500;
    margin-bottom: 0px;
}
#job-description .card-body small{
    font-size: 0.8rem;
    margin-bottom: 0px;
    color: #757575;
}
#job-description .btn-group .btn{
    width: 36px;
    height: 36px;
    text-align: center;
}
#job-description .btn-group .btn:hover{
    background-color: var(--main-color);
    color: #fff;
}