<div class="card plain-card">
    <div class="card-header">
        <div class="row justify-content-between align-items-center">
            <div class="col-sm-6">Subscribe Us Leads</div>
            <div class="col-sm-6 form-container text-end">

            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table dashboard-table">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Subscribed On</th>
                    <th>Full Name</th>
                    <!-- <th>Last Name</th> -->
                    <th>Email ID</th>
                    <th>Unsubscribe</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subscriber of subscriberArray | paginate: {itemsPerPage: pagesize, 
                    currentPage: pageNumber, totalItems:totalRows}; let i = index ">
                    <td>{{((pageNumber + 1) * 10 + i + 1)-20}}</td>
                    <td>{{subscriber?.createdDateFormatdate | date: 'dd/MM/yyyy h:mm a' }}</td>
                    <td>{{subscriber?.firstName}} {{subscriber?.lastName}}</td>
                    <td>{{subscriber?.emailId}}</td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox"
                                (change)="updateActiveSubScription(subscriber,$event)"
                                [checked]="subscriber?.isSubscribe == 1" id="flexSwitchCheckDefault">
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn bg-danger bg-opacity-10 text-danger rounded"><i
                            class="fa-solid fa-trash-can"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mt-2 text-end" *ngIf="subscriberArray?.length == 0">
            <div class="alert alert-danger text-center py-2">No Data Found..!
            </div>
        </div>
        <pagination-controls *ngIf="subscriberArray?.length != 0" previousLabel="" nextLabel=""
            (pageChange)="onClickPagintion($event)">
        </pagination-controls>
    </div>
</div>