<div class="card plain-card">
    <div class="card-header">
        <div class="row justify-content-between align-items-center">
            <div class="col-sm-6">Subscribe Us Leads</div>
            <div class="col-sm-6 form-container text-end">

            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table dashboard-table">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Subscribed On</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email ID</th>
                    <th>Unsubscribe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>12-02-2021</td>
                    <td>Anil</td>
                    <td>Kumbale</td>
                    <td>anil.kumbale@gmail.com</td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                checked>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>