<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="../../../../assets/images/products/Livestock Industries.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                     <h3>Livestock</h3> 
                        <!-- <h3>{{PageName}}</h3> -->
                    </div>
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="../../home">Home</a></li>
                                <li class="breadcrumb-item"><a routerLink="../../industries">Industries</a></li>
                                <!-- <li class="breadcrumb-item active">Industries</li> -->
                                <li class="breadcrumb-item active">Livestock</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container industries py-3">
    <div class="row" id="main-content">
        <div class="col-12">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center py-5">
                    <div class="shortInfo">
                        <h4 class="fw-bold mb-3 text-main">Chara Chavani Software</h4>
                        <!-- <h6 class="fw-bold mb-3">KIMS- Kote Inventory Management System</h6> -->
                        <p>n the high drought situation, Maharashtra Government provides fodder for the farmers of the country by raising the fodder for farmers. the charachavani.com system is used to make the administration available to the administration in every transparent manner, which is provided to every animal in every camp. In this Android app and website have been used together.</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center py-5">
                    <div class="w-100">
                       
                            <img class="w-100" alt="img" src="../../../../assets/images/products/Livestock Industries_1.jpg">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>