<div class="page-heading">
  <div class="card bg-dark text-white">
    <img
      src="../../../assets/images/page-banners/Discover_Us.jpg"
      class="card-img" alt="...">
    <div class="card-img-overlay">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-12">
            <h3>Discover Us</h3>
          </div>
          <div class="col-sm-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Discover Us</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="main-content">
  <div class="row mb-5">
    <div class="col-sm-7 animate__animated animate__fadeInLeft">
      <h3 class="mb-4">About Us</h3>
      <p><strong>Shaurya Technosoft Pvt. Ltd.</strong> is a Pune (India) based company. It is one of the fastest growing
        software company. We build software and provide advance technology services to our customers that add values to
        their business. We cater to the technology requirements of the Dairy Industry, Manufacturing Industry, Defense
        Sector, e-Governance, Mining Sector, Vehicle Tracking and Agricultural Sector. The other domains include
        Election Management, Inventory Management and Animal Husbandry. Shaurya Technosoft also undertakes offshore
        projects of software development.</p>
      <p>We have successfully delivered a number of products which include Desktop Applications, Android Applications
        and Web Based Solutions. The end product is the convergence of a lot of research and development to cater to the
        needs of our clients which makes them achieve their full potential. We strive to achieve perfection and client
        satisfaction is prime important to us. We develop best-in-class software solutions to suit each client's
        requirement, keeping in mind the best practices in the industry.</p>
      <p>We are privileged to be working closely with the Indian Army, Indian Railway and the Government of Maharashtra
        and it makes us proud to be part of Digital India Initiative.</p>
      <p>We have a wide range of experience & expertise in domain of Desktop application, Web application & Android
        Application.</p>
    </div>
    <div class="col-sm-5 animate__animated animate__fadeInRight">
      <img
        src="https://img.freepik.com/free-photo/ai-chip-intelligence-technology-deep-learning_53876-143122.jpg?t=st=1652060251~exp=1652060851~hmac=be055529be1761dc722ea82ecc2bc67e1838e7a34312c61447cf5feae0309d81&w=740"
        class="img-fluid">
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-4 animate__animated animate__fadeInLeft">
      <img
        src="https://img.freepik.com/free-vector/circuit-board-tree-symbol_98292-3922.jpg?w=740&t=st=1652090268~exp=1652090868~hmac=15251b7fa600756ac311665ce170942472f3a07d66223ecd9a1cdb2b03b1d3ef"
        class="img-fluid">
    </div>
    <div class="col-sm-8 animate__animated animate__fadeInRight">
      <h3 class="mb-4">Why Choose Us</h3>
      <p><strong>Shaurya Technosoft Pvt. Ltd.</strong> interfaces with clients to identify their requirements and
        accordingly, designs, develops and implements an integrated and comprehensive IT or software based solution.</p>
      <p>We build software and provide advance technology services to our customers that add values to their business.
      </p>
      <p>We put all of our energy into listening and understanding your needs, developing your custom solution, and
        striving to deliver above and beyond your requirements.
        We take pride in our work and treat your business initiatives.</p>
      <p>We develop best-in-class software solutions to suit each client's requirement, keeping in mind the best
        practices in the industry.</p>
      <p>We have a wide range of experience & expertise in domain of Desktop application, Web application & Android
        Application.</p>
    </div>
  </div>

  <div class="row g-2" id="how-we-work">
    <div class="col-sm-12">
      <h3 class="mb-4 text-center">How We Work</h3>
    </div>
    <div class="col-sm">
      <div class="card card-body animate__animated animate__fadeInUp">
          <img src="assets/images/business-analysis.svg">
          <h5>Business Analysis</h5>
      </div>
    </div>
    <div class="col-sm">
      <div class="card card-body animate__animated animate__fadeInUp">
          <img src="assets/images/research.svg">
          <h5>Research</h5>
      </div>
    </div>
    <div class="col-sm">
      <div class="card card-body animate__animated animate__fadeInUp animate__delay-2s">
          <img src="assets/images/designing.svg">
          <h5>Designing</h5>
      </div>
    </div>
    <div class="col-sm">
      <div class="card card-body animate__animated animate__fadeInUp animate__delay-3s">
          <img src="assets/images/development.svg">
          <h5>Development</h5>
      </div>
    </div>
    <div class="col-sm">
      <div class="card card-body animate__animated animate__fadeInUp animate__delay-4s">
          <img src="assets/images/testing.svg">
          <h5>Testing</h5>
      </div>
    </div>
    <div class="col-sm">
      <div class="card card-body animate__animated animate__fadeInUp animate__delay-5s">
          <img src="assets/images/deployment.svg">
          <h5>Deployment</h5>
      </div>
    </div>
  </div>
</div>