<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="../../../../assets/images/products/Dairy industry.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <h3 class="mb-4">Automatic Milk Collection Unit (AMCU)</h3>
                    </div>
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                                <li class="breadcrumb-item">Solutions</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container px-5 py-2 overflow-hidden">
    <div class="row" id="main-content">
        <div class="row">
            <h3 class="text-main">Introduction</h3>
        </div>
        <div class="">
            <p>
                The Automatic Milk Collection Unit also termed as the 'eMilkway Software' helps small dairy firms to
                maintain a database of farmers supplying milk to the dairy and is very useful in eliminating flaws of
                the traditional milk collection system.
            </p>
        </div>
       
        <div class="row mt-5">
            <div class="col-sm-7" data-aos="fade-right" data-aos-delay="50">
                <span>AMCU have following functions:</span>
                <ul class="px-2">
                    <li>We can use this software in Marathi and English language</li>
                    <li>List of accounts, advance, cattlefeed, deductions and bonus are directly connected to accounting.</li>
                    <li>List the Quantity of protein milk. </li>
                    <li> If S.N.F.counting machine is not available then you can calculate S.N.F.by using C.L.R. </li>
                    <li>Ratecards can be prepared according to FAT and S.N.F </li>
                </ul>
            </div>
            <div class="col-sm-5">
                <img src="../../../../assets/images/products/Dairy industry2.jpg" alt="" data-aos="fade-left"
                data-aos-delay="50">
            </div>
           
        </div>
    </div>
</div>