<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="../../../assets/images/page-banners/Industries.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                     <h3>Defence</h3> 
                        <!-- <h3>{{PageName}}</h3> -->
                    </div>
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="../../home">Home</a></li>
                                <li class="breadcrumb-item"><a routerLink="../../industries">Industries</a></li>
                                <!-- <li class="breadcrumb-item active">Industries</li> -->
                                <li class="breadcrumb-item active">Defence</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container industries py-3">
    <div class="row" id="main-content">
        <div class="col-md-6 d-flex align-items-center py-5">
            <div class="shortInfo animate__animated animate__fadeInLeft animate__delay">
                <h4 class="fw-bold mb-3">Defence</h4>
                <!-- <h6 class="fw-bold mb-3">KIMS- Kote Inventory Management System</h6> -->
                <p>KIMS-Kote inventory Management software is Biometric inventory management of weapons for armed
                    forces, barcoding for weapon identification, Issue of weapon by finger print authentication,
                    allocation, de-allocation, bulk issue, control store items & private weapon inventory management.
                </p>
                <a class="btn btn-readmore2">Read More</a>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center py-5">
            <div class="w-100 animate__animated animate__fadeInRight animate__delay">
                <a href="#">
                    <img class="w-100" alt="img" src="http://shauryatechnosoft.com/img/KIMS_ProductPage.png">
                </a>
            </div>
        </div>

        

    </div>
</div>