<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="../../../assets/images/page-banners/Industries.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Industries</h3>
                        <!-- <h3>{{PageName}}</h3> -->
                    </div>
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="../../home">Home</a></li>
                                <li class="breadcrumb-item"><a routerLink="../../industries">Industries</a></li>
                                <!-- <li class="breadcrumb-item active">Industries</li> -->
                                <!-- <li class="breadcrumb-item active">{{PageName}}</li> -->
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container industries py-3">
    <div class="row" id="main-content">
        <div class="col-md-6 d-flex align-items-center py-5">
            <div class="shortInfo animate__animated animate__fadeInLeft animate__delay">
                <h4 class="fw-bold mb-3">Defence</h4>
                <!-- <h6 class="fw-bold mb-3">KIMS- Kote Inventory Management System</h6> -->
                <p>KIMS-Kote inventory Management software is Biometric inventory management of weapons for armed
                    forces, barcoding for weapon identification, Issue of weapon by finger print authentication,
                    allocation, de-allocation, bulk issue, control store items & private weapon inventory management.
                </p>
                <a class="btn btn-readmore2">Read More</a>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center py-5">
            <div class="w-100 animate__animated animate__fadeInRight animate__delay">
                <a href="#">
                    <img class="w-100" alt="img" src="http://shauryatechnosoft.com/img/KIMS_ProductPage.png">
                </a>
            </div>
        </div>

        <div class="col-md-6 d-flex align-items-center py-5">
            <div class="w-100 animate__animated animate__fadeInLeft animate__delay-1s">
                <a href="#">
                    <img class="w-100" alt="img" src="http://shauryatechnosoft.com/img/amcup_productPage.png">
                </a>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center py-5">
            <div class="shortInfo animate__animated animate__fadeInRight animate__delay-1s">
                <h4 class="fw-bold mb-3">Dairy</h4>
                <!-- <h6 class="fw-bold mb-3">Automatic Milk Collection Unit</h6> -->
                <p>The Automatic Milk Collection Unit also termed as the 'eMilkway Software' helps small dairy firms to maintain a database of farmers supplying milk to the dairy and is very useful in eliminating flaws of the traditional milk collection system. </p>
               
                <a class="btn btn-readmore2">Read More</a>
            </div>
        </div>

        <div class="col-md-6 d-flex align-items-center py-5">
            <div class="shortInfo animate__animated animate__fadeInLeft animate__delay-2s">
                <h4 class="fw-bold mb-3">Election</h4>
                <!-- <h6 class="fw-bold mb-3">Election Management Software</h6> -->
                <p>Rajneta is an Election Management System. It helps candidate to manage voter database and interact with them through electronic ways of communication. This enhances connectivity of candidate with the voters.It has various other functionalities which helps in available resource management, people management etc.</p>
               
                <a class="btn btn-readmore2">Read More</a>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center py-5">
            <div class="w-100 animate__animated animate__fadeInRight animate__delay-2s">
                <a href="#">
                    <img class="w-100" alt="img" src="http://shauryatechnosoft.com/img/rajneta_ProductPage.png">
                </a>
            </div>
        </div>

        <div class="col-md-6 d-flex align-items-center py-5">
            <div class="w-100 animate__animated animate__fadeInLeft animate__delay-3s">
                <a href="#">
                    <img class="w-100" alt="img" src="http://shauryatechnosoft.com/img/mahamining_ProductPage.png">
                </a>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center py-5">
            <div class="shortInfo animate__animated animate__fadeInRight animate__delay-3s">
                <h4 class="fw-bold mb-3">Mining</h4>
                <!-- <h6 class="fw-bold mb-3">Automatic Milk Collection Unit</h6> -->
                <p>This system had been developed for monitoring exploration of valuable river sand resource for Government of Maharashtra. Presently this system had been implemented in entire Pune division (Pune, Satara, Solapur, Kolhapur and Sangali districts) and district of Ahmednagar, Latur, Chandrapur & Yavatmal. </p>
                <a class="btn btn-readmore2">Read More</a>
            </div>
        </div>

        <div class="col-md-6 d-flex align-items-center py-5">
            <div class="shortInfo animate__animated animate__fadeInLeft animate__delay-4s">
                <h4 class="fw-bold mb-3">Livestock</h4>
                <!-- <h6 class="fw-bold mb-3">Election Management Software</h6> -->
                <p>In the high drought situation, Maharashtra Government provides fodder for the farmers of the country by raising the fodder for farmers. the charachavani.com system is used to make the administration available to the administration in every transparent manner, which is provided to every animal in every camp. In this Android app and website have been used together.</p>
                
                <a class="btn btn-readmore2">Read More</a>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center py-5">
            <div class="w-100 animate__animated animate__fadeInRight animate__delay-4s">
                <a href="#">
                    <img class="w-100" alt="img" src="http://shauryatechnosoft.com/img/charachavani.png">
                </a>
            </div>
        </div>

    </div>
</div>