<div class="card plain-card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div>Post New Job</div>
            <button class="btn bg-primary bg-opacity-10 text-primary btn-sm" data-bs-toggle="modal"
                data-bs-target="#AddNewJobModal" (click)="addNewData()">
                <i class="fa-solid fa-plus me-2"></i> Add New Job
            </button>
        </div>
    </div>
    <div class="card-body">
        <table class="table dashboard-table">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Posted On</th>
                    <th>Job Title</th>
                    <th>Job Category</th>
                    <th>Post Ends On</th>
                    <th>Experience</th>
                    <th>Change Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jobPost of jobPostArray | paginate: {itemsPerPage: pagesize, 
                currentPage: pageNumber, totalItems:totalRows}; let i = index "
                    [class.active]="jobPost.id == HighlightRow">
                    <td>{{((pageNumber + 1) * 10 + i + 1)-20}}</td>
                    <td>{{jobPost.jobPostDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{jobPost.jobTitle}}</td>
                    <td>{{jobPost.jobCategory}}</td>
                    <td>{{jobPost.jobPostEndDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{jobPost?.experience.split('-')[0]}}-{{jobPost?.experience.split('-')[1]}}</td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox"
                                (change)="updateActiveApplication(jobPost,$event)" [checked]="jobPost?.isActive"
                                id="flexSwitchCheckDefault">
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn bg-info bg-opacity-10 text-info me-2" data-bs-toggle="modal"
                            (click)="updateJobPost(jobPost)" data-bs-target="#AddNewJobModal">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button type="button" [disabled]="jobPost?.isActive == true" 
                        class="btn bg-danger bg-opacity-10 text-danger" data-bs-toggle="modal"
                            (click)="deleteConformation(jobPost.id)" data-bs-target="#deleteModel">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mt-2 text-end" *ngIf="jobPostArray?.length == 0">
            <div class="alert alert-danger text-center py-2">No Data Found..!
            </div>
        </div>
        <pagination-controls *ngIf="jobPostArray?.length != 0" previousLabel="" nextLabel=""
            (pageChange)="onClickPagintion($event)">
        </pagination-controls>
    </div>
</div>


<!-- Modal for post new job -->
<div class="modal fade" id="AddNewJobModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="AddNewJobModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content border-0">
            <div class="modal-header bg-main text-white">
                <p class="modal-title mb-0" id="AddNewJobModalLabel">{{headingText}}</p>
                <button type="button" class="btn-close" #addNewJobModel (click)="clearForm()" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form [formGroup]="PostJobForm">
                <div class="modal-body">
                    <div class="form-container">
                        <div class="row">
                            <div class="col-sm-6 border-end">
                                <div class="mb-3">
                                    <label class="form-label required-field">Job Title</label>
                                    <input type="text" class="form-control" formControlName="jobTitle"
                                        placeholder="Job Title"
                                        [ngClass]="{ 'is-invalid': submitted && f.jobTitle.errors }">
                                    <div *ngIf="submitted && f.jobTitle.errors" class="invalid-feedback">
                                        <div class="text-danger" *ngIf="f.jobTitle.errors?.required">Job Title is
                                            required.</div>
                                        <div class="text-danger" *ngIf="f.jobTitle.errors?.pattern">Please enter
                                            Valid Job Title.</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6">
                                        <label class="form-label required-field">Job Category</label>
                                        <ngx-select [allowClear]="true" [items]="allCategoryArray"
                                            formControlName="jobCategory" placeholder="Select Job Category"
                                            optionValueField="categoryName" optionTextField="categoryName"
                                            [ngClass]="{ 'is-invalid': submitted && f.jobCategory.errors }">
                                        </ngx-select>
                                        <div *ngIf="submitted && f.jobCategory.errors" class="invalid-feedback">
                                            <span class="text-danger" *ngIf="f.jobCategory.errors?.required">Job
                                                Category is
                                                required.</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label required-field">Job Location</label>
                                        <ngx-select [allowClear]="true" [items]="jobLocationArray"
                                            formControlName="jobLocation" placeholder="Select Job Location"
                                            optionValueField="location" optionTextField="location"
                                            [ngClass]="{ 'is-invalid': submitted && f.jobLocation.errors }">
                                        </ngx-select>
                                        <div *ngIf="submitted && f.jobLocation.errors" class="invalid-feedback">
                                            <span class="text-danger" *ngIf="f.jobLocation.errors?.required">Job
                                                Location is
                                                required.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6">
                                        <label class="form-label required-field">Post End Date</label>
                                        <div class="input-group">
                                            <input class="form-control form-control-sm" [owlDateTimeTrigger]="dt1"
                                                placeholder="dd/MM/yyyy" [min]="Max" [owlDateTime]="dt1"
                                                formControlName="jobPostEndDate"
                                                [ngClass]="{ 'is-invalid': submitted && f.jobPostEndDate.errors }">
                                            <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                                            <!-- <button class="btn btn-light btn-sm" type="button"
                                                [owlDateTimeTrigger]="dt1">
                                                <i class="fas fa-calendar-alt"></i>
                                            </button> -->
                                            <span class="input-group-text" [owlDateTimeTrigger]="dt1"><i class="fas fa-calendar-alt"></i></span>
                                            <div *ngIf="submitted && f.jobPostEndDate.errors" class="invalid-feedback">
                                                <span class="text-danger" *ngIf="f.jobPostEndDate.errors?.required">Post
                                                    End Date is required.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label">Experience</label>
                                        <div class="input-group">
                                            <input type="text"  class="form-control" formControlName="experienceFromYr"  placeholder="From" 
                                            maxlength="2" (keypress)="this.commonService.onlyDigitsExcludeZeroAtStart($event)"
                                                [ngClass]="{ 'is-invalid': submitted && f.experienceFromYr.errors }">
                                            <input type="text" class="form-control" formControlName="experienceToYr" placeholder="To" 
                                            maxlength="2" (keypress)="this.commonService.onlyDigitsExcludeZeroAtStart($event)"
                                                [ngClass]="{ 'is-invalid': submitted && f.experienceToYr.errors }">
                                            <div *ngIf="submitted && f.jobPostEndDate.errors" class="invalid-feedback">
                                                <span class="text-danger"
                                                    *ngIf="(f.experienceFromYr.errors || f.experienceToYr.errors)?.required">
                                                    Experience is required.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6">
                                        <label for="txtSearchAssembly" class="form-label required-field">Select
                                            Qualification</label>
                                        <div class="card border shadow-none">
                                            <div class="card-header border-bottom p-0 py-1">
                                                <input type="text" formControlName="qualificationId"
                                                    [(ngModel)]="searchQualificationData"
                                                    placeholder="Search Qualification"
                                                    class="form-control form-control-sm border-0">
                                            </div>
                                            <div class="card-body py-2 form-height ChekBox"
                                                *ngIf="( qualificationArray | filter:searchQualificationData ) as qualificationResult">
                                                <div class="form-check"
                                                    *ngFor="let qualificationObj of qualificationResult">
                                                    <input class="form-check-input" type="checkbox"
                                                        [checked]="qualificationObj.checked"
                                                        (change)="onCheckChangeQualification($event, qualificationObj.id)">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        {{qualificationObj.qualificationName}}
                                                    </label>
                                                </div>
                                                <div *ngIf="qualificationResult.length === 0">
                                                    <div class="alert alert-danger text-center py-2">No Data Found..!
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="txtSearchAssembly" class="form-label required-field">Select
                                            SkillSet</label>
                                        <div class="card border shadow-none">
                                            <div class="card-header border-bottom p-0 py-1">
                                                <input type="text" formControlName="skillId"
                                                    [(ngModel)]="searchSkillSetData" placeholder="Search SkillSet"
                                                    class="form-control form-control-sm border-0">
                                            </div>
                                            <div class="card-body py-2 form-height ChekBox"
                                                *ngIf="( skillSetArray | filter:searchSkillSetData ) as skillSetResult">
                                                <div class="form-check" *ngFor="let skillSetObj of skillSetResult">
                                                    <input class="form-check-input" type="checkbox"
                                                        [checked]="skillSetObj.checked"
                                                        (change)="onCheckChangeSkillSet($event, skillSetObj.id)">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        {{skillSetObj.skillName}}
                                                    </label>
                                                </div>
                                                <div *ngIf="skillSetResult.length === 0">
                                                    <div class="alert alert-danger text-center py-2">No Data Found..!
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="form-label">Joining Duration</label>
                                        <ngx-select [allowClear]="true" [items]="durationArray"
                                            formControlName="joiningPeriod" placeholder="Select Joining Duration"
                                            optionValueField="joiningDuration" optionTextField="joiningDuration"
                                            [ngClass]="{ 'is-invalid': submitted && f.joiningPeriod.errors }">
                                        </ngx-select>
                                        <div *ngIf="submitted && f.joiningPeriod.errors" class="invalid-feedback">
                                            <span class="text-danger" *ngIf="f.joiningPeriod.errors?.required">Joining
                                                Duration is
                                                required.</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label">Employment Type</label>
                                        <ngx-select [allowClear]="true" [items]="employementArray"
                                            formControlName="employmentType" placeholder="Select Employment Type"
                                            optionValueField="employementType" optionTextField="employementType"
                                            [ngClass]="{ 'is-invalid': submitted && f.employmentType.errors }">
                                        </ngx-select>
                                        <div *ngIf="submitted && f.employmentType.errors" class="invalid-feedback">
                                            <span class="text-danger"
                                                *ngIf="f.employmentType.errors?.required">Employment Type is
                                                required.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-1">
                                    <label class="form-label">Job Description</label>
                                    <angular-editor [placeholder]="'Enter text here...'"
                                        formControlName="jobDescription" [config]="editorConfig"
                                        [ngClass]="{ 'is-invalid': submitted && f.jobDescription.errors }">
                                    </angular-editor>
                                    <div *ngIf="submitted && f.jobDescription.errors" class="invalid-feedback">
                                        <span class="text-danger" *ngIf="f.jobDescription.errors?.required">Job
                                            Description is
                                            required.</span>
                                    </div>
                                </div>
                                <div class="mb-0">
                                    <label class="form-label">Roles & Responsibilities</label>
                                    <angular-editor [placeholder]="'Enter text here...'"
                                        formControlName="role_Responsbility" [config]="editorConfig"
                                        [ngClass]="{ 'is-invalid': submitted && f.role_Responsbility.errors }">
                                    </angular-editor>
                                    <div *ngIf="submitted && f.role_Responsbility.errors" class="invalid-feedback">
                                        <span class="text-danger" *ngIf="f.role_Responsbility.errors?.required">Roles &
                                            Responsibilities is
                                            required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="d-flex justify-content-between text-end">
                        <button type="button" class="btn bg-secondary bg-opacity-10 text-dark btn-sm"
                            (click)="clearForm()">Clear</button>
                        <button type="submit" class="btn btn-main btn-sm ms-2" (click)="onSubmit()">{{btnText}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete modal pop up -->
<div class="modal fade" id="deleteModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="ProgramStatusModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-transparent border-bottom-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <h3 class="my-3">Are You Sure?</h3>
                <p class="mb-4">Do you really want to This process can not be undone.</p>
                <button class="btn btn-secondary me-2" data-bs-dismiss="modal" type="button" data-bs-dismiss="modal"
                    aria-label="Close">Cancel</button>
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal" aria-label="Close" type="button"
                    data-bs-dismiss="modal" aria-label="Close" (click)="deleteJobPost()">I'm
                    Sure</button>
            </div>
        </div>
    </div>
</div>