<div class="card plain-card">
    <div class="card-header">
        <div class="row justify-content-between align-items-center">
            <div class="col-sm-6">Accepted / Rejected Applications</div>
            <div class="col-sm-6 form-container">
                <div class="row gx-2 justify-content-end align-items-center">
                    <div class="col-sm input-group">
                        <input type="text" class="form-control" placeholder="Seach" [formControl]="searchText"
                        (keyup)="onKeyUpFilter()">
                        <button type="button" *ngIf="searchText.value" class="btn btn-light border btn-sm"
                        (click)="clearFilter('search')">
                        <i class="fas fa-times"></i>
                      </button>
                      <button type="button" *ngIf="!searchText.value" class="btn btn-sm border btn-light">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                    <!-- <div class="col-sm-auto">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Approved">
                            <label class="form-check-label" for="inlineRadio1">Approved</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Rejected">
                            <label class="form-check-label" for="inlineRadio2">Rejected</label>
                          </div>
                    </div> -->
                    <div class="col-sm-5">
                        <ngx-select [allowClear]="true" [items]="statusArray" (remove)="clearFilter('status')"
                       (select)="getAppliedMember()" [formControl]="isApproved" placeholder="Select Status"
                        optionValueField="id" optionTextField="name">
                    </ngx-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table dashboard-table">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Applied On</th>
                    <th>Job Title</th>
                    <th>Applicant Full Name</th>
                    <th>Email ID</th>
                    <th>Contact No.</th>
                    <th>Download CV</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appliedMember of AppliedMemberArray | paginate: {itemsPerPage: pagesize, 
                    currentPage: pageNumber, totalItems:totalRows}; let i = index ">
                    <td>{{((pageNumber + 1) * 10 + i + 1)-20}}</td>
                    <td>{{appliedMember?.appliedOn | date : 'dd/MM/YYYY'}}</td>
                    <td>{{appliedMember?.jobTitle}}</td>
                    <td>{{appliedMember?.fullName}}</td>
                    <td>{{appliedMember?.emailId}}</td>
                    <td>{{appliedMember?.contactNo}}</td>
                    <td>
                        <button type="button" class="btn btn-sm bg-primary bg-opacity-10 text-primary">
                            <a target="_blank" [href]="appliedMember?.resumePath">
                                <i class="fa-solid fa-download"></i> 
                             </a>
                        </button>
                    </td>
                    <td>
                        <h6 class="mb-0">
                            <span mat-raised-button class="badge" [ngClass]="{'bg-success': appliedMember?.isApproved == 1,
                                                    'bg-danger': appliedMember?.isApproved == 2,'bg-warning': appliedMember?.isApproved == 0}">
                                {{appliedMember?.isApproved == 1 ? 'Approved' : appliedMember?.isApproved == 2 ? 'Rejected' : 'Pending'}}
                            </span>
                        </h6>
                    </td>
                    <td>
                        <!-- <button type="button" class="btn bg-danger bg-opacity-10 text-danger" title="Reject Application">
                            <i class="fa-solid fa-ban"></i>
                        </button> -->
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" (change)="updateActiveApplication(appliedMember,$event)"
                                [checked]="appliedMember?.isApproved == 1" id="flexSwitchCheckDefault">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mt-2 text-end" *ngIf="AppliedMemberArray?.length == 0">
            <div class="alert alert-danger text-center py-2">No Data Found..!
            </div>
        </div>
        <pagination-controls *ngIf="AppliedMemberArray?.length != 0" previousLabel="" nextLabel=""
            (pageChange)="onClickPagintion($event)">
        </pagination-controls>
    </div>
</div>