footer{ 
    background-color: var(--main-light-color);
    color: var(--main-color);
    font-size: 0.75rem;
    padding-block: 10px;
    box-shadow: 0px -3px 14px 0px #aaa;
}
footer img{
    width: 100px;
}
footer a{
    color: var(--blue-color);
    text-decoration: none;
}