body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color:rgb(0, 48, 130);
    --blue-color:rgb(26, 117, 206);
}
.text-main{
    color: var(--main-color);
}
.bg-main,
.btn-main,.btn-main:hover{
    background-color: var(--main-color);
    color: #fff;
}