<footer class="bg-light">
    <div class="container">
        <div class="row border-bottom mb-4">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12 col-6">
                        <img src="assets/images/STPL_Logo.svg" class="footer-logo">
                    </div>
                    <div class="col-sm-12 col-6 text-end text-lg-start">
                        <div class="social-icons">
                            <a class="mb-0 mb-lg-3" href="https://www.facebook.com/shauryatechnosoft/" target="_blank">
                                <i class="fa-brands fa-facebook-f"></i>
                                <span class="d-lg-block d-none">Facebook</span>
                            </a>
                            <a class="mb-0 mb-lg-3" href="https://twitter.com/stpl_pune" target="_blank">
                                <i class="fa-brands fa-twitter"></i>
                                <span class="d-lg-block d-none">Twitter</span>
                            </a>
                            <a class="mb-0 mb-lg-3" href="https://www.linkedin.com/company/shaurya-technosoft?trk=public_post_follow-view-profile" target="_blank">
                                <i class="fa-brands fa-linkedin-in"></i>
                                <span class="d-lg-block d-none">LinkedIn</span>
                            </a>
                            <a class="mb-0 mb-lg-3" href="https://www.instagram.com/shauryatechnosoft/" target="_blank">
                                <i class="fa-brands fa-instagram"></i>
                                <span class="d-lg-block d-none">Instagram</span>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-sm-3 col-6">
                <h6>Getting started</h6>
                <ul class="footer-links mb-4 mb-lg-0">
                    <li><a routerLink="home">Home</a></li>
                    <li><a routerLink="discover-us">Discover Us</a></li>
                    <!-- <li><a routerLink="#">Services</a></li> -->
                    <li><a routerLink="industries">Industries</a></li>
                    <li><a routerLink="projects">Projects</a></li>
                    <li><a routerLink="solutions">Solutions</a></li>
                    <li><a routerLink="career">Career</a></li>
                    <!-- <li><a routerLink="#">Blogs</a></li> -->
                    <li><a routerLink="contact-us">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-6">
                <h6>Industries</h6>
                <ul class="footer-links">
                    <li><a routerLink="industries/defence">Defence</a></li>
                    <li><a routerLink="industries/dairy">Dairy</a></li>
                    <li><a routerLink="industries/election">Election</a></li>
                    <li><a routerLink="industries/mining">Mining</a></li>
                    <li><a routerLink="industries/vehicle-tracking">Vehicle Tracking</a></li>
                    <li><a routerLink="industries/livestock">Livestock</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h6>Explore Products</h6>
                <ul class="footer-links">
                    <li><a routerLink="solutions/automatic-milk-collection-unit">Automatic Milk Collection Unit</a></li>
                    <li><a routerLink="solutions/kote-inventory-management-system">KIMS</a></li>
                    <li><a routerLink="solutions/election-management-system">Election Management</a></li>
                    <li><a routerLink="solutions/mahamining-system">mahakhanij Application</a></li>
                    <li><a routerLink="solutions/dairy-vet-software">DairyVet Application</a></li>
                    <!-- <li><a routerLink="#">eVet Software</a></li> -->
                </ul>
            </div>
        </div>
    </div>    
</footer>
<div class="container-fluid" id="bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a routerLink="sitemap" class="me-3">Sitemap</a>
                <a routerLink="privacy-policy">Privacy Policy</a>
            </div>
            <div class="col-sm-6 text-end">
                © 2022. All rights reserved by Shaurya Technosoft Pvt. Ltd.
            </div>
        </div>
    </div>
</div>