<footer class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12 col-6">
                        <img src="assets/images/STPL_Logo.svg" class="footer-logo">
                    </div>
                    <div class="col-sm-12 col-6 text-end text-lg-start">
                        <div class="social-icons">
                            <a class="mb-0 mb-lg-3" routerLink="#" target="_blank">
                                <i class="fa-brands fa-facebook-f"></i>
                                <span class="d-lg-block d-none">Facebook</span>
                            </a>
                            <a class="mb-0 mb-lg-3" routerLink="#" target="_blank">
                                <i class="fa-brands fa-twitter"></i>
                                <span class="d-lg-block d-none">Twitter</span>
                            </a>
                            <a class="mb-0 mb-lg-3" routerLink="#" target="_blank">
                                <i class="fa-brands fa-linkedin-in"></i>
                                <span class="d-lg-block d-none">LinkedIn</span>
                            </a>
                            <a class="mb-0 mb-lg-3" routerLink="#" target="_blank">
                                <i class="fa-brands fa-instagram"></i>
                                <span class="d-lg-block d-none">Instagram</span>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-sm-3 col-6">
                <h6>Getting started</h6>
                <ul class="footer-links">
                    <li><a routerLink="#">Home</a></li>
                    <li><a routerLink="#">Discover Us</a></li>
                    <li><a routerLink="#">Services</a></li>
                    <li><a routerLink="#">Industries</a></li>
                    <li><a routerLink="#">Career</a></li>
                    <li><a routerLink="#">Blogs</a></li>
                    <li><a routerLink="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-6">
                <h6>Industries</h6>
                <ul class="footer-links">
                    <li><a routerLink="#">Defence</a></li>
                    <li><a routerLink="#">Dairy</a></li>
                    <li><a routerLink="#">Election</a></li>
                    <li><a routerLink="#">Mining</a></li>
                    <li><a routerLink="#">Vehicle Tracking</a></li>
                    <li><a routerLink="#">eAnifarm Software</a></li>
                    <li><a routerLink="#">Livestock</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h6>Explore Products</h6>
                <ul class="footer-links">
                    <li><a routerLink="#">Automatic Milk Collection Unit</a></li>
                    <li><a routerLink="#">KIMS</a></li>
                    <li><a routerLink="#">Election Management</a></li>
                    <li><a routerLink="#">Mahamining Application</a></li>
                    <li><a routerLink="#">DairyVet Application</a></li>
                    <li><a routerLink="#">eAnifarm Software</a></li>
                    <li><a routerLink="#">eVet Software</a></li>
                </ul>
            </div>
        </div>
    </div>    
</footer>
<div class="container-fluid" id="bottom">
    <div class="row">
        <div class="col-sm-12">
            © 2022. All rights reserved by Shaurya Technosoft Pvt. Ltd.
        </div>
    </div>
</div>