<div class="page-heading">
    <div class="card bg-dark text-white">
        <img src="../../../../assets/images/products/Mining Industries.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                     <h3>Mining</h3> 
                        <!-- <h3>{{PageName}}</h3> -->
                    </div>
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="../../home">Home</a></li>
                                <li class="breadcrumb-item"><a routerLink="../../industries">Industries</a></li>
                                <!-- <li class="breadcrumb-item active">Industries</li> -->
                                <li class="breadcrumb-item active">Mining</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container industries py-3">
    <div class="row" id="main-content">
        <div class="col-12">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center py-5">
                    <div class="shortInfo">
                        <h4 class="fw-bold mb-3 text-main">Sand Invoicing And Monitoring System</h4>
                        <!-- <h6 class="fw-bold mb-3">KIMS- Kote Inventory Management System</h6> -->
                        <p>This system had been developed for monitoring exploration of valuable river sand resource for Government of Maharashtra. Presently this system had been implemented in entire Pune division (Pune, Satara, Solapur, Kolhapur and Sangali districts) and district of Ahmednagar, Latur, Chandrapur & Yavatmal. Sand Invoicing and Monitoring system had been specially desinged to insure and exact as per need one of the most valuable mining resource - river sand.</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center py-5">
                    <div class="w-100">
                        
                            <img class="w-100" alt="img" src="../../../../assets/images/products/Mining Industries_1.jpg">
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex align-items-center py-5">
                    <div class="w-100">
                            <img class="w-100" alt="img" src="../../../../assets/images/products/Mining Industries.jpg">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center py-5">
                    <div class="shortInfo">
                        <h6 class="fw-bold mb-3 text-main">Working of the System </h6>
                        <!-- <h6 class="fw-bold mb-3">KIMS- Kote Inventory Management System</h6> -->
                        <ul>
                            <li>This system had been developed to register all sand receipts on server, and fetch their details as and when necessary by officials.</li>
                            <li>Receipt had been printed on IBA approved MICR paper having various security features like barcode, QR code, Fugitive ink, invisible ink mark, watermark and void pantograph.</li>
                            <li>Each sand auctioneer need to use invoicing system to register each sand receipt on server.</li>
                            <li>Once receipt got registered on server, unique invoice number gets generated.</li>
                            <li>Validity of invoice also gets generated based on distance to be traveled by vehicle.</li>
                            <li>Government officials can download one android application from google play store (Mahamining application) on their mobile to see if the receipt shown by driver of sand transporting vehicle,is valid or invalid.</li>
                            <li>Various reports and charts can be generated from the system to analyses sand mining activities.</li>
                        </ul>
                    </div>
                </div>
            </div>
           
            
        </div>
    </div>
</div>